<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>clavefirma-admin-jsp</display-name>
  <description>Modulo de administracion de aplicaciones del servicio FIRe v2.4</description>
  <listener>
  	<listener-class>es.gob.fire.server.admin.session.SessionDataCleaner</listener-class>
  </listener>
  <servlet>
  	<description>Da de alta un usuario</description>
  	<display-name>NewUserService</display-name>
  	<servlet-name>NewUserService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.NewUserService</servlet-class>
  </servlet>
  <servlet>
  	<description>Da de baja un usuario</description>
  	<display-name>DeleteUserService</display-name>
  	<servlet-name>DeleteUserService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.DeleteUserService</servlet-class>
  </servlet>
  <servlet>
  	<description>Modifica la contrasena del usuario</description>
  	<display-name>ModifyPasswdUserService</display-name>
  	<servlet-name>ModifyPasswdUserService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.ModifyPasswdUserService</servlet-class>
  </servlet>
  <servlet>
  	<description>Da de alta una aplicacion</description>
  	<display-name>NewAppService</display-name>
  	<servlet-name>NewAppService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.NewAppService</servlet-class>
  </servlet>
  <servlet>
  	<description>Da de baja una aplicacion</description>
  	<display-name>DeleteAppService</display-name>
  	<servlet-name>DeleteAppService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.DeleteAppService</servlet-class>
  </servlet>
  <servlet>
  	<description>Obtiene la informacion de un certificado</description>
  	<display-name>PreviewCertificateService</display-name>
  	<servlet-name>PreviewCertificateService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.PreviewCertificateService</servlet-class>
  </servlet>
  <servlet>
  	<description>Da de alta un certificado</description>
  	<display-name>NewCertificateService</display-name>
  	<servlet-name>NewCertificateService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.NewCertificateService</servlet-class>
  </servlet>
  <servlet>
  	<description>Da de baja un certificado</description>
  	<display-name>DeleteCertificateService</display-name>
  	<servlet-name>DeleteCertificateService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.DeleteCertificateService</servlet-class>
  </servlet>
  <servlet>
  	<description>Da acceso a un usuario</description>
  	<display-name>LogAdminService</display-name>
  	<servlet-name>LogAdminService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.LogAdminService</servlet-class>
  </servlet>
  <servlet>
  	<description>Permite la gestion de logs remotos</description>
  	<display-name>LogServerService</display-name>
  	<servlet-name>LogServerService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.LogServerService</servlet-class>
  </servlet>
  
   <servlet>
  	<description>Permite la consulta de estadisticas</description>
  	<display-name>StatisticsService</display-name>
  	<servlet-name>StatisticsService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.StatisticsService</servlet-class>
  </servlet>
  
  <servlet>
  	<description>Permite al usuario autentificar su login</description>
  	<display-name>LoginService</display-name>
  	<servlet-name>LoginService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.LoginService</servlet-class>
  </servlet>
  
  <servlet>
  	<description>Permite recuperar el listado de certificados de distintos modos</description>
  	<display-name>CertificateService</display-name>
  	<servlet-name>CertificateService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.CertificateService</servlet-class>
  </servlet>
  
  <servlet>
  	<description>Permite recuperar el listado de aplicaciones de distintos modos</description>
  	<display-name>ApplicationsService</display-name>
  	<servlet-name>ApplicationsService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.ApplicationsService</servlet-class>
  </servlet>
  
   <servlet>
  	<description>Permite recuperar el listado de usuarios de distintos modos</description>
  	<display-name>UsersService</display-name>
  	<servlet-name>UsersService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.UsersService</servlet-class>
  </servlet>
  
  <servlet>
  	<description>Modifica la contrasena del usuario</description>
  	<display-name>RestorePasswordUserService</display-name>
  	<servlet-name>RestorePasswordUserService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.RestorePasswordUserService</servlet-class>
  </servlet>
  
  <servlet>
  	<description>Refresca los datos del responsable de la aplicacion</description>
  	<display-name>ResponsibleRefreshService</display-name>
  	<servlet-name>ResponsibleRefreshService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.ResponsibleRefreshService</servlet-class>
  </servlet>
  
  <servlet>
  	<description>Refresca los datos del certificado de la aplicacion</description>
  	<display-name>CertificateRefreshService</display-name>
  	<servlet-name>CertificateRefreshService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.CertificateRefreshService</servlet-class>
  </servlet>
  
  <servlet>
  	<description>Envia los correos para el reseteo de password</description>
  	<display-name>MailPasswordRestorationService</display-name>
  	<servlet-name>MailPasswordRestorationService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.MailPasswordRestorationService</servlet-class>
  </servlet>
  
   <servlet>
  	<description>Recibe en enlace en el correo para el reseteo de password</description>
  	<display-name>MailRestorePasswordUserService</display-name>
  	<servlet-name>MailRestorePasswordUserService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.MailRestorePasswordUserService</servlet-class>
  </servlet>
  
    <servlet>
  	<description>Permite al usuario la autorizacion para el cambio de password</description>
  	<display-name>MailPasswordAuthoritationService</display-name>
  	<servlet-name>MailPasswordAuthoritationService</servlet-name>
  	<servlet-class>es.gob.fire.server.admin.service.MailPasswordAuthoritationService</servlet-class>
  </servlet>
 
   
   
  <servlet-mapping>
  	<servlet-name>NewUserService</servlet-name>
  	<url-pattern>/newUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteUserService</servlet-name>
  	<url-pattern>/deleteUsr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModifyPasswdUserService</servlet-name>
  	<url-pattern>/modifyPasswdUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewAppService</servlet-name>
  	<url-pattern>/newApp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteAppService</servlet-name>
  	<url-pattern>/deleteApp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PreviewCertificateService</servlet-name>
  	<url-pattern>/previewCert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewCertificateService</servlet-name>
  	<url-pattern>/newCert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCertificateService</servlet-name>
  	<url-pattern>/deleteCert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogAdminService</servlet-name>
  	<url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogServerService</servlet-name>
  	<url-pattern>/logServer</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>StatisticsService</servlet-name>
  	<url-pattern>/statistics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>CertificateService</servlet-name>
  	<url-pattern>/Certificate/certificate</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>ApplicationsService</servlet-name>
  	<url-pattern>/Application/application</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsersService</servlet-name>
  	<url-pattern>/User/user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RestorePasswordUserService</servlet-name>
  	<url-pattern>/restorePasswordUser</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>ResponsibleRefreshService</servlet-name>
  	<url-pattern>/Application/responsiblerefresh</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>CertificateRefreshService</servlet-name>
  	<url-pattern>/Application/certificaterefresh</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
  	<servlet-name>MailPasswordRestorationService</servlet-name>
  	<url-pattern>/mailPasswordRestoration</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
  	<servlet-name>MailRestorePasswordUserService</servlet-name>
  	<url-pattern>/mailRestorePasswordUser</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
  	<servlet-name>MailPasswordAuthoritationService</servlet-name>
  	<url-pattern>/mailPasswordAuthoritation</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
</web-app>