<div class="modal" tabindex="-1" role="dialog" id="appViewModal">
	<div class="modal-dialog-centered">
		<div class="modal-content lg-900">
			<div class="modal-header">
				<div id="titleAdd">
					<h4 class="modal-title" th:text="#{form.application.view.title}"/>
				</div>
				<button type="button" class="close"
					onclick="closeModal('appViewModal')" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="appViewForm" role="form" id="appViewForm"
					th:object="${appViewForm}" action="#" method="post" enctype="multipart/form-data">
										
					<input type="hidden" id="appId" th:field="*{appId}"/>
					
					<div class="form-group">
						<label for="appName" class="col-form-label"
							th:text="#{form.application.view.name}"></label>
						<input type="text" id="appName" th:field="*{appName}" class="form-control" readonly="readonly"/>
						
						<div style="clear: both;" />
					</div>
					
					<div class="form-row">
						<div class="form-group col-md-10">
								<div th:if= "${appViewForm.certificatesB64 != null && appViewForm.certificatesB64 != ''}" class="btn_align">
									<button type="button" class="btn btn-primary" onclick="downloadZip()">Descargar certificados</button>
								</div>
						</div>
					</div>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<!--  Tabla de usuarios responsables -->
					<div class="row">
						<div class="col-md-12">
							<div class="bgc-white bd bdrs-3 p-20 mB-20">
								<h6 class="c-grey-900 mB-20" th:text="#{table.application.responsibles.title}"></h6>
								<table id="appRespTable" class="table table-striped table-bordered" 
									cellspacing="0" width="100%">
									<thead>
										<tr>
											<th th:text="#{table.app.user.name}"></th>
											<th th:text="#{table.app.user.surname}"></th>
											<th th:text="#{table.app.user.email}"></th>
											<th th:text="#{table.app.tlf}"></th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>

				</form>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
						onclick="closeModal('appViewModal')">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
$('#appViewModal').on('shown.bs.modal', function (e) {
	
	hide();
	
	var appId = $("#appId").val();
	var getRespApp = /*[[@{/respappdatatable}]]*/;
	tblRespApp = $('#appRespTable').DataTable({
	    "iTotalRecords": "totalElements",
	    "iTotalDisplayRecords": "numberOfElements",    
	    "searching": true,
	    "processing": true,
	    "serverSide": false,
	    "ajax": {
	        "url": getRespApp,
	        "data": {
	            "appId": appId
	        },
	        "type": "POST"
	    },
	    "language": {
	        "url": "js/datatables/i18n/spanish.json"
	        },
	       
	    "columns": [
	          { "data": "name"},
	          { "data": "surnames"},
	          { "data": "email"},
	          { "data": "phone"}
	        ],
	    responsive: true
	});
});
 	
	// Función para descargar los certificados en un ZIP
	function downloadZip() {
		var appViewFormDTO = [[${appViewForm}]];
		var base64Data = appViewFormDTO.certificatesB64; 
		var fileName = appViewFormDTO.appName + "_certificados.zip";
	    // Decodificamos el Base64 a un Blob
	    const binaryData = atob(base64Data); // Decodifica el Base64
	    const byteNumbers = new Uint8Array(binaryData.length);
	    for (let i = 0; i < binaryData.length; i++) {
	        byteNumbers[i] = binaryData.charCodeAt(i);
	    }
	    const blob = new Blob([byteNumbers], { type: "application/zip" });

	    // Creamos un enlace de descarga
	    const link = document.createElement("a");
	    link.href = URL.createObjectURL(blob); // Creamos la URL del Blob
	    link.download = fileName; // Nombre del archivo para la descarga
	    document.body.appendChild(link);
	    link.click(); // Simulamos el clic
	    document.body.removeChild(link); // Limpiamos el DOM
	}
</script>