<div class="modal" tabindex="-1" role="dialog" id="appViewModal">
	<div class="modal-dialog-centered">
		<div class="modal-content lg-900">
			<div class="modal-header">
				<div id="titleAdd">
					<h4 class="modal-title" th:text="#{form.application.view.title}"/></h4>
				</div>
				<button type="button" class="close"
					onclick="closeModal('appViewModal')" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="appViewForm" role="form" id="appViewForm"
					th:object="${appViewForm}" action="#" method="post" enctype="multipart/form-data">
										
					<input type="hidden" id="appId" th:field="*{appId}"/>
					<input type="hidden" id="customConfiguration" th:field="*{customConfiguration}"/>
					<input type="hidden" id="customSize" th:field="*{customSize}"/>
					<input type="hidden" id="customProviders" th:field="*{customProviders}"/>
					
					<h5 class="c-grey-900 mT-10 mB-10 mL-10" th:text="#{form.application.section.applicationDetails}"></h5>
					
					<div class="form-group row mL-10 mR-10">
						<div class="col-md-4">
							<label for="appName" class="col-form-label"
								th:text="#{form.application.view.name}"></label>
							<input type="text" id="appName" th:field="*{appName}" class="form-control" readonly="readonly"/>
						</div>
						<div class="col-md-4">
							<label for="organization" class="col-form-label"
								th:text="#{form.application.organization}"></label>
							<input type="text" id="organization" th:field="*{organization}" class="form-control" readonly/>
							<span id="organization_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span>
						</div>
						<div class="col-md-4">
							<label for="dir3Code" class="col-form-label"
								th:text="#{form.application.dir3Code}"></label>
							<input type="text" id="dir3Code" th:field="*{dir3Code}" class="form-control" readonly/>
							<span id="dir3Code_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span>
						</div>
					</div>
					
					<div class="customConfigurationContainer m-10" style="display: none;">
						<h5 class="c-grey-900 mT-10 mB-10" th:text="#{form.application.section.customConfiguration}"></h5>
						<div id="customSizeSection" style="display: none;">
						<h6 class="c-grey-900 mT-10 mB-10" th:text="#{form.application.field.customSizeCheckbox}"></h6>
	                        <div class="form-group row">
	                            <div class="col-md-4">
	                                <label for="maxSizeDoc" class="col-form-label" th:text="#{config.general.field.maxSizeDoc}"></label>
	                                <input type="text" id="maxSizeDoc" th:field="*{maxSizeDoc}" class="form-control" readonly/>
	                            </div>
	                            <div class="col-md-4">
	                                <label for="maxSizePetition" class="col-form-label" th:text="#{config.general.field.maxSizePetition}"></label>
	                                <input type="text" id="maxSizePetition" th:field="*{maxSizePetition}" class="form-control" readonly/>
	                            </div>
	                            <div class="col-md-4">
	                                <label for="maxAmountDocs" class="col-form-label" th:text="#{config.general.field.maxAmountDocs}"></label>
	                                <input type="text" id="maxAmountDocs" th:field="*{maxAmountDocs}" class="form-control" readonly/>
	                            </div>
	                        </div>
	                    </div>
	                    
	                    <div id="customProvidersSection" class="form-group" style="display: none;">
	                    	<h6 class="c-grey-900 mT-10 mB-10" th:text="#{form.application.field.customProvidersCheckbox}"></h6>
	                    	<div id="messageCustomProviders" role="alert"></div>
	                        <table id="customProvidersTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
	                            <thead>
	                                <tr>
	                                    <th></th>
	                                    <th></th>
	                                    <th th:text="#{table.providers.provider}"></th>
	                                    <th th:text="#{table.providers.mandatory}"></th>
	                                    <th th:text="#{table.providers.enabled}"></th>
	                                    <th></th>
	                                </tr>
	                            </thead>
	                            <tbody></tbody>
	                        </table>
	                    </div>
					</div>
					
					<div class="form-row">
						<div class="form-group col-md-10">
								<div th:if= "${appViewForm.certificatesB64 != null && appViewForm.certificatesB64 != '' && appViewForm.certificatesB64 != 'UEsFBgAAAAAAAAAAAAAAAAAAAAAAAA=='}" class="btn_align">
									<button type="button" class="btn btn-primary" onclick="downloadZip()">Descargar certificados</button>
								</div>
						</div>
					</div>
					
					<!--  Tabla de usuarios responsables -->
					<div class="row">
						<div class="col-md-12">
							<div class="bgc-white bd bdrs-3 p-20 mB-20">
								<h6 class="c-grey-900 mB-20" th:text="#{table.application.responsibles.title}"></h6>
								<table id="appRespTable" class="table table-striped table-bordered" 
									cellspacing="0" width="100%">
									<thead>
										<tr>
											<th th:text="#{table.app.user.name}"></th>
											<th th:text="#{table.app.user.surname}"></th>
											<th th:text="#{table.app.user.email}"></th>
											<th th:text="#{table.app.tlf}"></th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>

				</form>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
						onclick="closeModal('appViewModal')">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
	//Al cargar el documento se evalúan los valores de los inputs ocultos
	$(document).ready(function() {
	  if ($('#customConfiguration').val() === 'true') {
	    $('.customConfigurationContainer').show();
	  }
	  if ($('#customSize').val() === 'true') {
	    $('#customSizeSection').show();
	  }
	  if ($('#customProviders').val() === 'true') {
	    $('#customProvidersSection').show();
	    initializeProvidersTable();
	  }
	});

	$('#appViewModal').on('shown.bs.modal', function (e) {
		hide();
		
		var appId = $("#appId").val();
		var getRespApp = /*[[@{/respappdatatable}]]*/;
		tblRespApp = $('#appRespTable').DataTable({
		    "iTotalRecords": "totalElements",
		    "iTotalDisplayRecords": "numberOfElements",    
		    "searching": true,
		    "processing": true,
		    "serverSide": false,
		    "ajax": {
		        "url": getRespApp,
		        "data": {
		            "appId": appId
		        },
		        "type": "POST"
		    },
		    "language": {
		        "url": "js/datatables/i18n/spanish.json"
		        },
		       
		    "columns": [
		          { "data": "name"},
		          { "data": "surnames"},
		          { "data": "email"},
		          { "data": "phone"}
		        ],
		    responsive: true
		});
	});
 	
	// Función para descargar los certificados en un ZIP
	function downloadZip() {
		var appViewFormDTO = [[${appViewForm}]];
		var base64Data = appViewFormDTO.certificatesB64; 
		var fileName = appViewFormDTO.appName + "_certificados.zip";
	    // Decodificamos el Base64 a un Blob
	    const binaryData = atob(base64Data); // Decodifica el Base64
	    const byteNumbers = new Uint8Array(binaryData.length);
	    for (let i = 0; i < binaryData.length; i++) {
	        byteNumbers[i] = binaryData.charCodeAt(i);
	    }
	    const blob = new Blob([byteNumbers], { type: "application/zip" });

	    // Creamos un enlace de descarga
	    const link = document.createElement("a");
	    link.href = URL.createObjectURL(blob); // Creamos la URL del Blob
	    link.download = fileName; // Nombre del archivo para la descarga
	    document.body.appendChild(link);
	    link.click(); // Simulamos el clic
	    document.body.removeChild(link); // Limpiamos el DOM
	}
	
	function initializeProvidersTable() { 
	    var appId = $("#appId").val();
	    var getProvidersOfApplication = /*[[@{/getProvidersOfApplication}]]*/;

	    // Si ya existe una tabla, la destruye antes de crearla de nuevo
	    if ($.fn.DataTable.isDataTable("#customProvidersTable")) {
	        $("#customProvidersTable").DataTable().clear().destroy();
	    }

	    // Inicializa la tabla con DataTables
	    var table = $('#customProvidersTable').DataTable({
	        "processing": true,
	        "serverSide": false,
	        "paging": false,
	        "info": false,
	        "ordering": false,
	        "searching": false,
	        "ajax": {
	            "url": getProvidersOfApplication,
	            "type": "GET",
	            "data": { appId: appId },
	            "dataSrc": ""
	        },
	        "columns": [
	            { "data": "idProvider", "visible": false },
	            { "data": "idApplication", "visible": false },
	            { "data": "name" },
	            { "data": "mandatory",
	                "render": function(data, type, row) {
	                    var is_checked = data ? "checked" : "";
	                    return `
	                        <div class="checkbox checkbox-circle checkbox-info peers ai-c">
	                            <input type="checkbox" id="mandatory_${row.id}" class="peer chk-mandatory" ${is_checked} disabled>
	                            <label for="mandatory_${row.id}" class="peers peer-greed js-sb ai-c">
	                                <span class="peer peer-greed"></span>
	                            </label>
	                        </div>`;
	                }
	            },
	            { "data": "enabled",
	                "render": function(data, type, row) {
	                    var is_checked = data ? "checked" : "";
	                    return `
	                        <div class="checkbox checkbox-circle checkbox-info peers ai-c">
	                            <input type="checkbox" id="enabled_${row.id}" class="peer chk-enabled" ${is_checked} disabled>
	                            <label for="enabled_${row.id}" class="peers peer-greed js-sb ai-c">
	                                <span class="peer peer-greed"></span>
	                            </label>
	                        </div>`;
	                }
	            },
	            { "data": "orderIndex", "visible": false }
	        ],
	        "language": {
	            "url": "js/datatables/i18n/spanish.json",
	            select: {
	                rows: {
	                    _: "%d filas seleccionadas",
	                    1: "1 fila seleccionada"
	                }
	            }
	        }
	    });
	}
</script>