<div class="modal" tabindex="-1" role="dialog" id="appEditModal">
	<div class="modal-dialog-centered">
		<div class="modal-content lg-900">
			<div class="modal-header">
				<div id="titleAdd">
					<h4 class="modal-title" th:text="#{form.application.edit.title}"></h4>
				</div>
				<button type="button" class="close"
					onclick="closeModal('appEditModal')" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body modal-body-applicationForm">
				<form name="appEditForm" role="form" id="appEditForm"
					th:object="${appEditForm}" action="@{/saveeditapp}" method="post" enctype="multipart/form-data">
										
					<input type="hidden" id="appId" th:field="*{appId}"/>
					<input type="hidden" id="fechaAltaApp" th:field="*{fechaAltaApp}"/>
					<input type='hidden' id="customSizeHidden" th:field="*{customSize}" />
					<input type='hidden' id="customProviderHidden" th:field="*{customProvider}" />
					
					<div id="resultAddApp" data-dismiss="alert"></div>	
						
					<div class="form-group">
						<input type="checkbox" id="habilitado" th:field="*{habilitado}"/>
						<label for="habilitado" class="mL-10" th:text="#{form.application.enabled}"></label>
					</div>
								
					<div class="form-group">
						<label for="appName" class="col-form-label"
							th:text="#{form.application.name}"></label>
						<input type="text" id="appName" th:field="*{appName}" class="form-control" />
						<span id="appName_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span>
					</div>
					
					<h5 class="c-grey-900 mB-10" th:text="#{form.application.section.organization}"></h5>
					
					<div class="form-group">
						<label for="organization" class="col-form-label"
							th:text="#{form.application.organization}"></label>
						<input type="text" id="organization" th:field="*{organization}" class="form-control" />
						<span id="organization_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span>
						
						<label for="dir3Code" class="col-form-label"
							th:text="#{form.application.dir3Code}"></label>
						<input type="text" id="dir3Code" th:field="*{dir3Code}" class="form-control" />
						<span id="dir3Code_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span> 	
					</div>
					
					<h5 class="c-grey-900 mB-10" th:text="#{form.application.section.customConfiguration}"></h5>
					
					<div class="form-group mT-30">
                        <input type="checkbox" id="customSize" onchange="toggleCustomSize()"/>
                        <label for="customSize" class="mL-10" th:text="#{form.application.field.customSizeCheckbox}"></label>
                    </div>
                    
                    <div id="customSizeSection" style="display: none;">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="maxSizeDoc" class="col-form-label" th:text="#{config.general.field.maxSizeDoc}"></label>
                                <input type="text" id="maxSizeDoc" th:field="*{maxSizeDoc}" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <label for="maxSizePetition" class="col-form-label" th:text="#{config.general.field.maxSizePetition}"></label>
                                <input type="text" id="maxSizePetition" th:field="*{maxSizePetition}" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <label for="maxAmountDocs" class="col-form-label" th:text="#{config.general.field.maxAmountDocs}"></label>
                                <input type="text" id="maxAmountDocs" th:field="*{maxAmountDocs}" class="form-control" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group mT-30">
                        <input type="checkbox" id="customProvider" onchange="toggleCustomProviders()"/>
                        <label for="customProvider" class="mL-10" th:text="#{form.application.field.customProvidersCheckbox}"></label>
                    </div>
                    
                    <div id="customProvidersSection" class="form-group" style="display: none;">
                    	<div id="messageCustomProviders" role="alert"></div>
                        <table id="customProvidersTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th th:text="#{table.providers.provider}"></th>
                                    <th th:text="#{table.providers.mandatory}"></th>
                                    <th th:text="#{table.providers.enabled}"></th>
                                    <th th:text="#{table.providers.order}"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        
                        <!-- Disclaimer debajo de la tabla -->
                    	<p class="text-danger mT-10" th:text="#{table.providers.disclaimer}"></p>
                    </div>
					
					<h5 class="c-grey-900 mB-10" th:text="#{form.application.section.responsibles}"></h5>
					
					<div class="form-group row">
				        <div class="col-5">
				        	<label for="multiselectUser" class="col-form-label" th:text="#{form.application.responsibles.system}"></label>
				            <select name="from[]" id="multiselectUser" class="form-control" size="9" multiple="multiple">
				                <option th:each="au: ${availableUsers}"
									th:value="${au.userId}" th:text="${au.userName}"/>
				            </select>
				            
				        </div>
				        
				        <div class="col-2 mT-85">
				            <button type="button" id="multiselectUser_rightSelected" class="btn btn-block btn-custom-block"><i class="c-blue ti-angle-right"></i></button>
				            <button type="button" id="multiselectUser_leftSelected" class="btn btn-block btn-custom-block"><i class="c-blue ti-angle-left"></i></button>
				        </div>
				        
				        <div class="col-5">
				        	<label for="multiselectUser_to" class="col-form-label" th:text="#{form.application.responsibles.app}"></label>
				            <select name="to[]" id="multiselectUser_to" class="form-control" size="9" multiple="multiple">
				            	<option th:each="su: ${selectedUsers}"
									th:value="${su.userId}" th:text="${su.userName}"/>
				            </select>
				        </div>
				        
				        <div class="m-l-10">
				        	<span id="user_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span>
				        </div>
				    </div>
				    
					<h5 class="c-grey-900 mB-10" th:text="#{form.application.section.certificates}"></h5>
					
					<div class="form-group row">
						<div class="col-5">
					        <label for="multiselectCertificate" class="col-form-label" th:text="#{form.application.certificates.system}"></label>
					        <select name="from[]" id="multiselectCertificate" class="form-control" size="9" multiple="multiple">
					        	<option th:each="ak: ${availableCertficates}"
									th:value="${ak.idCertificate}" th:text="${ak.certificateName}"  
									th:class="'fa-multiselect ' + ${ak.status == 'V&aacute;lido' ? 'fa-key-multiselect-green' : 
										ak.status == 'Caducado' ? 'fa-key-multiselect-red' : 
										ak.status == 'A&uacute;n no v&aacute;lido' ? 'fa-key-multiselect-yellow' : 'fa-key-multiselect-black'}" />
							</select>
					    </div>
					    <div class="col-2 mT-85">
					        <button type="button" id="multiselectCertificate_rightSelected" class="btn btn-block btn-custom-block"><i class="c-blue ti-angle-right"></i></button>
					    	<button type="button" id="multiselectCertificate_leftSelected" class="btn btn-block btn-custom-block"><i class="c-blue ti-angle-left"></i></button>
					    </div>
						<div class="col-5">
							<label for="multiselectCertificate_to" class="col-form-label" th:text="#{form.application.certificates.app}"></label>
					        <select name="to[]" id="multiselectCertificate_to" class="form-control" size="9" multiple="multiple">
					        	<option th:each="ak: ${selectedCertificates}"
									th:value="${ak.idCertificate}" th:text="${ak.certificateName}"  
									th:class="'fa-multiselect ' + ${ak.status == 'V&aacute;lido' ? 'fa-key-multiselect-green' : 
										ak.status == 'Caducado' ? 'fa-key-multiselect-red' : 
										ak.status == 'A&uacute;n no v&aacute;lido' ? 'fa-key-multiselect-yellow' : 'fa-key-multiselect-black'}" />
					        </select>
						</div>
						<div class="m-l-10">
					        <span id="cert_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span>
					    </div>
					</div>
				</form>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
						onclick="closeModal('appEditModal')">Cerrar</button>
					<button type="button" id="editBtnModal" onclick="saveEditApp();" class="btn btn-primary">Guardar
						cambios</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
var messageEnableProvider = /*[[#{config.general.enableProvider}]]*/;

$(document).ready(function() {
    cleanSpan('appEditForm');
    $('#multiselectUser').multiselect();
    $('#multiselectCertificate').multiselect();

    // Verificar si customProviders es true en appEditForm y generar la tabla directamente desde el hidden
    var customProvidersEnabled = $('#customProviderHidden').val() === 'true';
    $('#customProvider').prop('checked', customProvidersEnabled);
    if (customProvidersEnabled) {
        $('#customProvidersSection').show();
        initializeProvidersTable();
    }

    // Verificar si customSize es true en appEditForm y mostrar la sección directamente desde el hidden
    var customSizeEnabled = $('#customSizeHidden').val() === 'true';
    $('#customSize').prop('checked', customSizeEnabled);
    if (customSizeEnabled) {
        $('#customSizeSection').show();
    }
});
			
function saveEditApp() {
	
	var saveEditApp = /*[[@{/saveapp}]]*/;
	var formData = new FormData();
	
	var idUsersSelected = '';
	$("#multiselectUser_to option").each(function(){
		if ($(this).val() != "" ){        
	      	idUsersSelected += $(this).val()+',';
	    }
	});
	
	if (idUsersSelected == '') {
		idUsersSelected = "-1";
	}
	
	var idCertificatesSelected = '';
	$("#multiselectCertificate_to option").each(function(){
		if ($(this).val() != "" ){        
			idCertificatesSelected += $(this).val()+',';
	    }
	});
	
	if (idCertificatesSelected == '') {
		idCertificatesSelected = "-1";
	}
    
	// Convertimos el formulario en un objeto JSON
    var appForm = $("#appEditForm").serializeJSON();

    // Añadimos los IDs de usuarios y certificados al objeto
    appForm.idUsersSelected = idUsersSelected;
    appForm.idCertificatesSelected = idCertificatesSelected;
    
 	// Agregar valores de customSize y customProvider al objeto
    appForm.customSize = $('#customSize').prop('checked');
    appForm.customProvider = $('#customProvider').prop('checked');

    // Construimos el array de proveedores personalizados
    var customProvidersData = [];
    if ($.fn.DataTable.isDataTable("#customProvidersTable")) {
        var table = $('#customProvidersTable').DataTable();
        
        let hasEnabledProvider = false;
        
        table.rows().every(function(rowIdx, tableLoop, rowLoop) {
            var rowData = this.data();
            var rowNode = $(this.node());
		    var orderValue = rowNode.find('.order-value').text().trim();
            var isEnabled = $(this.node()).find('.chk-enabled').prop('checked');

            customProvidersData.push({
                idProvider: rowData.idProvider,
                idApplication: rowData.idApplication,
                name: rowData.name,
                mandatory: rowNode.find('.chk-mandatory').prop('checked'),
                enabled: rowNode.find('.chk-enabled').prop('checked'),
                orderIndex: parseInt(orderValue, 10) || rowIdx + 1 // Usar el valor del span o rowIdx como fallback
            });
            
            if (isEnabled) hasEnabledProvider = true;
        });
        
        if (!hasEnabledProvider) {
        	$('#messageCustomProviders').html(messageEnableProvider);
        	$('#messageCustomProviders').removeClass('alert alert-success')	
			$('#messageCustomProviders').addClass('alert alert-danger');
		 	$("#messageCustomProviders").fadeTo(2000, 500).slideUp(500, function() {
				$("#messageCustomProviders").slideUp(500);
		 	});
            return;
        }
    }

    // Agregamos la lista de proveedores al objeto `appForm`
    appForm.customProviders = customProvidersData;

    // Convertimos `appForm` a un Blob JSON
    var blob = new Blob([JSON.stringify(appForm)], { type: "application/json" });
    formData.append('appForm', blob);
    
 	loading();
 	
 	if ($('#appEditForm')[0].checkValidity() === false) {
 		  hide();
 		  
 		  $('#appEditForm *').filter(':input').each(function(){
 	  	    
 	      	if(!$(this)[0].checkValidity()){
 	  	  	 	$("#" + $(this).attr('id')).addClass("has-error");
 	  	    } else {
 	  	  	 	$("#" + $(this).attr('id')).removeClass("has-error");
 	  	    }
 	  	    
 	  	  });
 		  
 	  } else{
 		  
 		 $.ajax({
 		 	  url: saveEditApp,
 		 	  type: "POST",
			  data: formData,
			  processData: false,
			  contentType: false,
			  success: function(data){
 				  
 				  hide();		 
 				  
 				  if (data.error != null){
 					  var errores = JSON.parse(data.error);
 					  jQuery.each(errores, function(i, val) {
 					  	$('#appEditForm *').filter('span').each(function(){
 							if (i == $(this).attr('id')){
 								$("#" + i).text(val);
 							}
 						});
 					  });
 				  }else{
 					  
 					 hide();
 					$('#appTable').DataTable().row.add(data.data[0]).draw(false);
 				  
 					 $("#appEditForm")[0].reset();
 					 $('#appEditForm *').filter('span').each(function(){
 							$(this).text('');
 						});
 					  
 					  
 					var messageResponse = /*[[#{message.success.application.edit}]]*/;
 					
 								  
 					//se muestra un mensaje
 					$('#resultAddApp').html(messageResponse);
 					$('#resultAddApp').removeClass('alert-danger')	
 					$('#resultAddApp').addClass('alert alert-success');
 				 	$("#resultAddApp").fadeTo(2000, 500).slideUp(500, function() {
 						$("#resultAddApp").slideUp(500);
 						
 						//se cierra modal
 	 					closeModal('appEditModal');
 				 	});
 				 	
 					
 					 	
 				 	
 				  }
 				  
 				 $('#appEditForm *').filter(':input').each(function(){
					  $("#" + $(this).attr('id')).removeClass("has-error");
				  });
 			  },
 			  error:function(){
 				  hide();
 				  var messageResponse = /*[[#{message.error.application.edit}]]*/;
 				  $('#resultAddApp').removeClass('alert-success')	
 				  $('#resultAddApp').addClass('alert alert-danger');
 				  $("#resultAddApp").html(messageResponse);
 			  }
 			});
 	  }
 }
 
function toggleCustomSize() {
    var checkBox = document.getElementById("customSize");
    var section = document.getElementById("customSizeSection");
    section.style.display = checkBox.checked ? "block" : "none";
}

function toggleCustomProviders() {
    var checkBox = document.getElementById("customProvider");
    var section = document.getElementById("customProvidersSection");

    if (checkBox.checked) {
        section.style.display = "block";
        initializeProvidersTable();
    } else {
        section.style.display = "none";
        if ($.fn.DataTable.isDataTable("#customProvidersTable")) {
            $("#customProvidersTable").DataTable().clear().destroy();
        }
    }
}

function initializeProvidersTable() {
    var appId = $("#appId").val();
    var getProvidersOfApplication = /*[[@{/getProvidersOfApplication}]]*/;

    // Si ya existe una tabla, la destruye antes de crearla de nuevo
    if ($.fn.DataTable.isDataTable("#customProvidersTable")) {
        $("#customProvidersTable").DataTable().clear().destroy();
    }

    // Inicializa la tabla con DataTables
    var table = $('#customProvidersTable').DataTable({
        "processing": true,
        "serverSide": false,
        "paging": false,
        "info": false,
        "ordering": false,
        "searching": false,
        "ajax": {
            "url": getProvidersOfApplication,
            "type": "GET",
            "data": { appId: appId },
            "dataSrc": ""
        },
        "columns": [
            { "data": "idProvider", "visible": false },
            { "data": "idApplication", "visible": false },
            { "data": "name" },
            { "data": "mandatory",
                "render": function(data, type, row) {
                    var is_checked = data ? "checked" : "";
                    return `
                        <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                            <input type="checkbox" id="mandatory_${row.id}" class="peer chk-mandatory" ${is_checked}>
                            <label for="mandatory_${row.id}" class="peers peer-greed js-sb ai-c">
                                <span class="peer peer-greed"></span>
                            </label>
                        </div>`;
                }
              },
              { "data": "enabled",
                "render": function(data, type, row) {
                    var is_checked = data ? "checked" : "";
                    return `
                        <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                            <input type="checkbox" id="enabled_${row.id}" class="peer chk-enabled" ${is_checked}>
                            <label for="enabled_${row.id}" class="peers peer-greed js-sb ai-c">
                                <span class="peer peer-greed"></span>
                            </label>
                        </div>`;
                }
              },
              { "data": "orderIndex",
                  "render": function(data, type, row, meta) {
                      return `
                          <div class="d-flex">
                              <span class="order-value" style="display: none;">${meta.row + 1}</span>
                              <a class="btn move-up" title="Subir"><span class="c-blue-500 ti-arrow-circle-up icon-tb"></span></a>
                              <a class="btn move-down" title="Bajar"><span class="c-blue-500 ti-arrow-circle-down icon-tb"></span></a>
                          </div>
                      `;
                  }
              }
        ],
        "language": {
            "url": "js/datatables/i18n/spanish.json",
            select: {
                rows: {
                    _: "%d filas seleccionadas",
                    1: "1 fila seleccionada"
                }
              }
		}
    });
    
 	// Función para actualizar los valores de orderIndex después de mover filas
    function actualizarOrden() {
        $('#customProvidersTable tbody tr').each(function(index) {
            $(this).find('.order-value').text(index + 1);
        });
    }
 	
    $('#customProvidersTable tbody').off('click', '.move-up');
    $('#customProvidersTable tbody').off('click', '.move-down');

 	// Manejadores de eventos para mover filas
    $('#customProvidersTable tbody').on('click', '.move-up', function(event) {
        event.preventDefault();
        let row = $(this).closest('tr');
        if (row.prev().length) {
            row.insertBefore(row.prev());
            actualizarOrden();
        }
    });

    $('#customProvidersTable tbody').on('click', '.move-down', function(event) {
        event.preventDefault();
        let row = $(this).closest('tr');
        if (row.next().length) {
            row.insertAfter(row.next());
            actualizarOrden();
        }
    });

}
 
</script>