<div class="modal" tabindex="-1" role="dialog" id="appEditModal">
	<div class="modal-dialog-centered">
		<div class="modal-content lg-900">
			<div class="modal-header">
				<div id="titleAdd">
					<h4 class="modal-title" th:text="#{form.application.edit.title}">
				</div>
				<button type="button" class="close"
					onclick="closeModal('appEditModal')" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="appEditForm" role="form" id="appEditForm"
					th:object="${appEditForm}" action="@{/saveeditapp}" method="post" enctype="multipart/form-data">
										
					<input type="hidden" id="appId" th:field="*{appId}"/>
					<input type="hidden" id="fechaAltaApp" th:field="*{fechaAltaApp}"/>
					
					<div id="resultAddApp" data-dismiss="alert"></div>		
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="habilitado" th:text="#{form.application.enabled}"></label>
							<input type="checkbox" id="habilitado" th:field="*{habilitado}"/>
						</div>
					</div>
								
					<div class="form-group">
						<label for="appName" class="col-form-label"
							th:text="#{form.application.name}"></label>
						<input type="text" id="appName" th:field="*{appName}" class="form-control" />
						<span id="appName_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span> 		
						<div style="clear: both;" />
					</div>
					<div class="form-group row">
					        <div class="col-5">
					        	<label for="multiselectUser" class="col-form-label" th:text="#{form.application.responsibles.system}"></label>
					            <select name="from[]" id="multiselectUser" class="form-control" size="9" multiple="multiple">
					                <option th:each="au: ${availableUsers}"
										th:value="${au.userId}" th:text="${au.userName}"/>
					            </select>
					            
					        </div>
					        
					        <div class="col-2">
					            <button type="button" id="multiselectUser_rightAll" class="btn btn-block"><i class="c-blue ti-angle-double-right"></i></button>
					            <button type="button" id="multiselectUser_rightSelected" class="btn btn-block"><i class="c-blue ti-angle-right"></i></button>
					            <button type="button" id="multiselectUser_leftSelected" class="btn btn-block"><i class="c-blue ti-angle-left"></i></button>
					            <button type="button" id="multiselectUser_leftAll" class="btn btn-block"><i class="c-blue ti-angle-double-left"></i></button>
					        </div>
					        
					        <div class="col-5">
					        	<label for="multiselectUser_to" class="col-form-label" th:text="#{form.application.responsibles.app}"></label>
					            <select name="to[]" id="multiselectUser_to" class="form-control" size="9" multiple="multiple">
					            	<option th:each="su: ${selectedUsers}"
										th:value="${su.userId}" th:text="${su.userName}"/>
					            </select>
					        </div>
					        
					        <div class="m-l-10">
					        	<span id="user_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span>
					        </div>
					    </div>
					<div class="form-group row">
						<div class="col-5">
					        <label for="multiselectCertificate" class="col-form-label" th:text="#{form.application.certificates.system}"></label>
					        <select name="from[]" id="multiselectCertificate" class="form-control" size="9" multiple="multiple">
					        	<option th:each="au: ${availableCertficates}" th:value="${au.idCertificado}" th:text="${au.certificateName}"/>
							</select>
					    </div>
					    <div class="col-2">
					        <button type="button" id="multiselectCertificate_rightAll" class="btn btn-block"><i class="c-blue ti-angle-double-right"></i></button>
					        <button type="button" id="multiselectCertificate_rightSelected" class="btn btn-block"><i class="c-blue ti-angle-right"></i></button>
					        <button type="button" id="multiselectCertificate_leftSelected" class="btn btn-block"><i class="c-blue ti-angle-left"></i></button>
					    	<button type="button" id="multiselectCertificate_leftAll" class="btn btn-block"><i class="c-blue ti-angle-double-left"></i></button>
						</div>
						<div class="col-5">
							<label for="multiselectCertificate_to" class="col-form-label" th:text="#{form.application.certificates.app}"></label>
					        <select name="to[]" id="multiselectCertificate_to" class="form-control" size="9" multiple="multiple">
					        	<option th:each="su: ${selectedCertificates}" th:value="${su.idCertificado}" th:text="${su.certificateName}"/>
					        </select>
						</div>
					</div>
				</form>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
						onclick="closeModal('appEditModal')">Cerrar</button>
					<button type="button" id="editBtnModal" onclick="saveEditApp();" class="btn btn-primary">Guardar
						cambios</button>
				</div>
			</div>
		</div>
	</div>

<script th:inline="javascript">

$(document)
.ready(function() {
			
			cleanSpan('appEditForm');
			$('#multiselectUser').multiselect();
			$('#multiselectCertificate').multiselect();
});
			
function saveEditApp() {
	
	var saveEditApp = /*[[@{/saveapp}]]*/;
	var formData = new FormData();
	
	var idUsersSelected = '';
	$("#multiselectUser_to option").each(function(){
		if ($(this).val() != "" ){        
	      	idUsersSelected += $(this).val()+',';
	    }
	});
	
	if (idUsersSelected == '') {
		idUsersSelected = "-1";
	}
	
	var idCertificatesSelected = '';
	$("#multiselectCertificate_to option").each(function(){
		if ($(this).val() != "" ){        
			idCertificatesSelected += $(this).val()+',';
	    }
	});
	
	if (idCertificatesSelected == '') {
		idCertificatesSelected = "-1";
	}
    
	var blob = new Blob([JSON.stringify($("#appEditForm").serializeJSON())], {type: "application/json"});
    formData.append('appForm', blob);
    formData.append("idUsersSelected", idUsersSelected);
    formData.append("idCertificatesSelected", idCertificatesSelected);
    
 	loading();
 	
 	if ($('#appEditForm')[0].checkValidity() === false) {
 		  hide();
 		  
 		  $('#appEditForm *').filter(':input').each(function(){
 	  	    
 	      	if(!$(this)[0].checkValidity()){
 	  	  	 	$("#" + $(this).attr('id')).addClass("has-error");
 	  	    } else {
 	  	  	 	$("#" + $(this).attr('id')).removeClass("has-error");
 	  	    }
 	  	    
 	  	  });
 		  
 	  } else{
 		  
 		 $.ajax({
 		 	  url: saveEditApp,
 		 	  type: "POST",
			  data: formData,
			  processData: false,
			  contentType: false,
			  success: function(data){
 				  
 				  hide();		 
 				  
 				  if (data.error != null){
 					  var errores = JSON.parse(data.error);
 					  jQuery.each(errores, function(i, val) {
 					  	$('#appEditForm *').filter('span').each(function(){
 							if (i == $(this).attr('id')){
 								$("#" + i).text(val);
 							}
 						});
 					  });
 				  }else{
 					  
 					 hide();
 					$('#appTable').DataTable().row.add(data.data[0]).draw(false);
 				  
 					 $("#appEditForm")[0].reset();
 					 $('#appEditForm *').filter('span').each(function(){
 							$(this).text('');
 						});
 					  
 					  
 					var messageResponse = /*[[#{message.success.application.edit}]]*/;
 					
 								  
 					//se muestra un mensaje
 					$('#resultAddApp').html(messageResponse);
 					$('#resultAddApp').removeClass('alert-danger')	
 					$('#resultAddApp').addClass('alert alert-success');
 				 	$("#resultAddApp").fadeTo(2000, 500).slideUp(500, function() {
 						$("#resultAddApp").slideUp(500);
 						
 						//se cierra modal
 	 					closeModal('appEditModal');
 				 	});
 				 	
 					
 					 	
 				 	
 				  }
 				  
 				 $('#appEditForm *').filter(':input').each(function(){
					  $("#" + $(this).attr('id')).removeClass("has-error");
				  });
 			  },
 			  error:function(){
 				  hide();
 				  var messageResponse = /*[[#{message.error.application.edit}]]*/;
 				  $('#resultAddApp').removeClass('alert-success')	
 				  $('#resultAddApp').addClass('alert alert-danger');
 				  $("#resultAddApp").html(messageResponse);
 			  }
 			});
 	  }
 }
 
</script>