<form name="altEditor-form" role="form" id="certUserForm" th:object="${certUserForm}" action="@{/savecertuser}" method="post">
							
	<div class="form-group">
			<div class="custom-file" id="customFile" lang="es">
				<input type="file" class="custom-file-input" id="file" name="file" th:field="*{file}"  aria-describedby="fileHelp"> 
					<label class="custom-file-label" for="file" th:text="#{form.ssl.file.choose}"></label>
			</div>
		<div style="clear:both;"/>
	</div>
							
</form>
<script>
$("input[type=file]").change(function () {
  var fieldVal = $(this).val();

  // Change the node's value by removing the fake path (Chrome)
  fieldVal = fieldVal.replace("C:\\fakepath\\", "");

  if (fieldVal != undefined || fieldVal != "") {
	    $(this).next(".custom-file-label").attr('data-content', fieldVal);
	    $(this).next(".custom-file-label").text(fieldVal);
	  }

});
</script>