<div class="modal" tabindex="-1" role="dialog" id="certEditModal">
	<div class="modal-dialog-centered">
		<div class="modal-content lg-900">
			<div class="modal-header">
				<div id="titleAdd">
					<h4 class="modal-title" th:text="#{form.certificate.edit.title}">
				</div>
				<button type="button" class="close"
					onclick="closeModal('certEditModal')" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="certEditForm" role="form" id="certEditForm"
					th:object="${certEditForm}" action="@{/saveeditcert}" method="post" enctype="multipart/form-data">
										
					<input type="hidden" id="idCertificate" th:field="*{idCertificate}"/>
					<input type="hidden" id="certificate" th:field="*{certificate}"/>
					<input type="hidden" id="certificateB64" th:field="*{certificateB64}"/>
					
					<div id="resultEditCert" data-dismiss="alert"></div>					
					<div class="form-group">
						<label for="alias" class="col-form-label"
							th:text="#{form.certificate.alias}"></label>
						<input type="text" id="alias" th:field="*{alias}" class="form-control" />
						<span id="alias_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span> 						
						<div style="clear: both;" />
					</div>
					<div class="form-row">
						<div class="form-group col-md-8">
							<label for="certFile" class="col-form-label"
									th:text="#{form.certificate.certificado}"></label>
								<div class="custom-file" id="customFile1" lang="es"> 
									<input type="file" class="custom-file-input" id="certFile" accept=".cer,.crt"
										name="certFile" th:field="*{certFile}" aria-describedby="fileHelp">
									<label class="custom-file-label" for="file"
										th:text="#{form.certificate.file.choose}"></label>
									<span id="certFile_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span> 			
								</div>
								<div style="clear: both;" />
						</div>
					</div>
					<div id="cert-prin" name="cert-prin" class="edit-txt" 
					style="width: 100%; height: 8em; overflow-y: auto; margin-top: 3px;
					 resize: none; background: rgb(245, 245, 245);">
					</div>	
				
				</form>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
						onclick="closeModal('certEditModal')">Cerrar</button>
					<button type="button" id="editBtnModal" onclick="saveEditCert();" class="btn btn-primary">Guardar
						cambios</button>
				</div>
			</div>
		</div>
	</div>

<script th:inline="javascript">

$(document)
.ready(
		function() {
			
			cleanSpan('certEditForm');
			
		});
	
	
	$('#certEditModal').on('shown.bs.modal', function (e) {
	
		hide();
		$("#cert-prin").html($("#certificate").val());
		
		/* var urlDataPart = 'data:text/plain;base64,';
		
		if ($("#certificateB64").val() != null && $("#certificateB64").val() != '' && $("#certificateB64").val() != undefined) {
			var urlDataFile = urlDataPart + $("#certificateB64").val();
			var alias =  $("#alias").val();
			$("#certFile").prop('files').push(dataURLtoFile(urlDataFile, alias + '_1.cer'));
		}
		
		if ($("#certBackupB64").val() != null && $("#certBackupB64").val() != '' && $("#certBackupB64").val() != undefined) {
			var urlDataFile = urlDataPart + $("#certBackupB64").val();
			var alias =  $("#alias").val();
			$("#certFile2").prop('files').push(dataURLtoFile(urlDataFile, alias + '_2.cer'));
		} */
		
		});
	
	var previewCertUrl = /*[[@{/previewCert}]]*/;
	function previewCert(event) {
		
		hide();
		var formData = new FormData();
	 	var file =  $('#certFile').prop('files')[0];
	 	
	 	if (file == undefined) {
	 		file = new File([""], "nofile", {type: "text/plain", lastModified: new Date()});
	 	}
	 	
	 	var id = event.target.id;
	 	
	 	formData.append("certFile", file);
	 	formData.append("idField",id)
	 	
		//var data = new FormData($("#certEditForm")[0]);
		var idResult;
		if (id == "certFile") {
			idResult = "cert-prin";
			
		}
		$.ajax(previewCertUrl,{
			type : "POST",
			data : formData,
			processData : false,
			contentType : false,
			success : function(responseText) {
				//document.getElementById(idResult).innerHTML = responseText;
				hide();
				$("#" + idResult).html(responseText);
			},
			error : function(e, xhr) {
				alert("Error al cargar el certificado");
				
				if (xhr.status === 401 || xhr.status === 403) {
                    window.location.reload();
                } else {
                    console.error("Error al realizar la peticion");
                }
			}
		});

	}
	
	$("input:file").change(function(event) {
		
		previewCert(event);
	});

	$("input[type=file]").change(function() {
		  var fieldVal = $(this).val();
		  fieldVal = fieldVal.replace("C:\\fakepath\\", "");
		  if (fieldVal !== undefined && fieldVal !== "") { // <= fix
		    $(this).next(".custom-file-label").attr('data-content', fieldVal);
		    $(this).next(".custom-file-label").text(fieldVal);
		  }
		});

		

		
function saveEditCert() {
	  var saveeditcert = /*[[@{/saveeditcert}]]*/;
	  var formData = new FormData();

	  var file = $('#certFile').prop('files')[0];
	  if (file === undefined) {
	    file = new File([""], "nofile", { type: "text/plain", lastModified: new Date() });
	  }

	  var blob = new Blob([JSON.stringify($("#certEditForm").serializeJSON())], { type: "application/json" });

	  formData.append('certEditForm', blob);
	  formData.append("certFile", file);

	  loading();

	  if ($('#certEditForm')[0].checkValidity() === false) {
	    hide();

	    $('#certEditForm *').filter(':input').each(function () {
	      if (!$(this)[0].checkValidity()) {
	        $("#" + $(this).attr('id')).addClass("has-error");
	      } else {
	        $("#" + $(this).attr('id')).removeClass("has-error");
	      }
	    });

	  } else {

	    $.ajax({
	      url: saveeditcert,
	      type: "POST",
	      data: formData,
	      processData: false,
	      contentType: false,
	      success: function (resp) {
	        hide();

	        // Caso 1: Backend devuelve errores (dtOutput.setError(...))
	        if (resp && resp.error) {
	          var errores = {};
	          try { errores = JSON.parse(resp.error); } catch (e) { /* ignore */ }

	          $.each(errores, function (i, val) {
	            if (i === "errorSaveCertificate") {
	              $('#resultEditCert').html(val).removeClass('alert-success').addClass('alert alert-danger');
	            }
	            $('#certEditForm *').filter('span').each(function () {
	              if (i === $(this).attr('id')) { $("#" + i).text(val); }
	            });
	          });

	          return; // no seguimos
	        }

	        // Caso 2: Backend devuelve filas (resp.data)
	        if (resp && Array.isArray(resp.data) && resp.data.length > 0) {
	          var rowDataNew = resp.data[0];

	          var table = $('#certServiceTable').DataTable();

	          // Busca por idCertificate con coerción por si viene string/number
	          var row = table.row(function (idx, data /*, node*/) {
	            return String(data.idCertificate) === String(rowDataNew.idCertificate);
	          });

	          if (row.any()) {
	            row.data(rowDataNew).draw(false); // actualiza
	          } else {
	            table.row.add(rowDataNew).draw(false); // inserta si no existe
	          }

	          // Limpieza de formulario + spans
	          $("#certEditForm")[0].reset();
	          $('#certEditForm *').filter('span').each(function () { $(this).text(''); });

	          // Mensaje OK y cierre del modal
	          var messageResponse = /*[[#{message.success.certificate.edit}]]*/;
	          $('#resultEditCert')
	            .html(messageResponse)
	            .removeClass('alert-danger')
	            .addClass('alert alert-success');

	          $("#resultEditCert").fadeTo(2000, 500).slideUp(500, function () {
	            $("#resultEditCert").slideUp(500);
	            closeModal('certEditModal');
	          });

	        } else {
	          // Caso 3: No hay error ni data: avisamos sin romper
	          $('#resultEditCert')
	            .text('No se devolvió ninguna fila desde el servidor.')
	            .removeClass('alert-success')
	            .addClass('alert alert-danger');
	        }

	        // Quita marcas de error campo a campo
	        $('#certEditForm *').filter(':input').each(function () {
	          $("#" + $(this).attr('id')).removeClass("has-error");
	        });
	      },
	      error: function (xhr) {
	        hide();

	        if (xhr.status === 401 || xhr.status === 403) {
	          window.location.reload();
	        } else {
	          console.error("Error al realizar la peticion");
	        }

	        var messageResponse = /*[[#{message.error.certificate.edit}]]*/;
	        $('#resultEditCert')
	          .removeClass('alert-success')
	          .addClass('alert alert-danger')
	          .html(messageResponse);
	      }
	    });
	  }
	}
 
 function dataURLtoFile(dataurl, filename) {
	 
     var arr = dataurl.split(','),
         mime = arr[0].match(/:(.*?);/)[1],
         bstr = atob(arr[1]), 
         n = bstr.length, 
         u8arr = new Uint8Array(n);
         
     while(n--){
         u8arr[n] = bstr.charCodeAt(n);
     }
     
     return new File([u8arr], filename, {type:mime});
 }

</script>