<div class="modal" tabindex="-1" role="dialog" id="certViewModal">
	<div class="modal-dialog-centered">
		<div class="modal-content lg-900">
			<div class="modal-header">
				<div id="titleAdd">
					<h4 class="modal-title" th:text="#{form.certificate.view.title}"/>
				</div>
				<button type="button" class="close"
					onclick="closeModal('certViewModal')" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="certViewForm" role="form" id="certViewForm"
					th:object="${certViewForm}" action="#" method="post" enctype="multipart/form-data">
										
					<input type="hidden" id="idCertificate" th:field="*{idCertificate}"/>
					<input type="hidden" id="certificate" th:field="*{certificate}"/>
					<input type="hidden" id="certificateB64" th:field="*{certificateB64}"/>
												
					<div class="form-group">
						<label for="alias" class="col-form-label"
							th:text="#{form.certificate.alias}"></label>
						<input type="text" id="alias" th:field="*{alias}" class="form-control" readonly="readonly"/>
						
						<div style="clear: both;" />
					</div>
					<div class="form-row">
						<div class="form-group col-md-10">
								<div th:if= "${certificate != '' && certificate != null}" class="btn_align">
									<button type="button" class="btn btn-primary" onclick="downLoadCert('certificateB64','1')">Descargar certificado</button>
								</div>
						</div>
						

					</div>
					<div th:if= "${certificate != '' && certificate != null}" id="cert-prin" name="cert-prin" class="edit-txt" 
						style="width: 100%; height: 8em; overflow-y: auto; margin-top: 3px;
					 	resize: none; background: rgb(245, 245, 245);">
					</div>	
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<!--  Tabla de aplicaciones asociadas -->
					<div class="row">
						<div class="col-md-12">
							<div class="bgc-white bd bdrs-3 p-20 mB-20">
								<h6 class="c-grey-900 mB-20" th:text="#{table.certificate.app.title}"></h6>
								<table id="appCertTable" class="table table-striped table-bordered" 
									cellspacing="0" width="100%">
									<thead>
										<tr>
											<th th:text="#{table.app.name}"></th>
											<th th:text="#{table.app.id}"></th>
											<th th:text="#{table.app.responsable}"></th>
											<th th:text="#{table.app.fec_alt}"></th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>

				</form>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
						onclick="closeModal('certViewModal')">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
$('#certViewModal').on('shown.bs.modal', function (e) {
	
	hide();
	$("#cert-prin").html($("#certificate").val());
	
	var idCertificado = $("#idCertificate").val();
	var getCertApps = /*[[@{/certappdatatable}]]*/;
	tblCertApp = $('#appCertTable').DataTable({
	    "iTotalRecords": "totalElements",
	    "iTotalDisplayRecords": "numberOfElements",        
	    "processing": true,
	    "serverSide": false,
	    "ajax": {
	        "url": getCertApps,
	        "data": {
	            "idCertificate": idCertificado
	        },
	        "type": "POST"
	    },
	    "language": {
	        "url": "js/datatables/i18n/spanish.json",
	        select: {
	            rows: {
	                _: "%d filas seleccionadas",
	                1: "1 fila seleccionada"
	            }
	          }
	        },
	       
	    "columns": [
	          { "data": "appName" },
	          { "data": "appId"},
	          { "data": "responsables"},
	          { "data": "fechaAltaApp" }
	        ],
	        responsive: true
	});
});

	var previewCertUrl = /*[[@{/previewCert}]]*/;
	function previewCert(event) {
		
		hide();
		var formData = new FormData();
	 	var file =  $('#certFile').prop('files')[0];
	 	
	 	if (file == undefined) {
	 		file = new File([""], "nofile", {type: "text/plain", lastModified: new Date()});
	 	}
	 	
	 	var id = event.target.id;
	 	
	 	formData.append("certFile", file);
	 	formData.append("idField",id)
	 	
		//var data = new FormData($("#certViewForm")[0]);
		var idResult;
		if (id == "certFile") {
			idResult = "cert-prin";
			
		}
		$.ajax(previewCertUrl,{
			type : "POST",
			data : formData,
			processData : false,
			contentType : false,
			success : function(responseText) {
				//document.getElementById(idResult).innerHTML = responseText;
				hide();
				$("#" + idResult).html(responseText);
			},
			error : function(e) {
				alert("Error al cargar el certificado");
			}
		});

	}
		
 
	//Funcion para descargar el certificado de PSC
	function downLoadCert(idDataCert, numCert) {
		var datCert = $("#" + idDataCert).val();
		var filename = $("#alias").val() + "_" + numCert + ".cer";
				
		downloadCertificate(b64toBlob(datCert, 'application/x-x509-ca-cert'), filename);
		
	}
	
	/* Descargar Certificado */
	function downloadCertificate(contentBlob, fileName) {
		var reader = new FileReader();
		reader.onload = function(event) {
			var save = document.createElement('a');
			save.href = event.target.result;
			save.target = '_blank';
			save.download = fileName || 'certificado.cer';
			var clicEvent = new MouseEvent('click', {
				'view' : window,
				'bubbles' : true,
				'cancelable' : true
			});
			save.dispatchEvent(clicEvent);
			(window.URL || window.webkitURL)
					.revokeObjectURL(save.href);
						
		};
		reader.readAsDataURL(contentBlob);
	};	
	

</script>