<div class="modal" tabindex="-1" role="dialog" id="certForm">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Editar certificados
				<button type="button" class="close"
					onclick="closeButton('modalEdit')" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="altEditor-form" role="form" id="certForm"
					th:object="${certformedit}" th:action="@{/updatessl}" method="post">

					<input type='hidden' class='primarykey' id="idCertificate"
						th:field="idCertificate"> 
					<input type='hidden'
						class='primarykey' id="idStatusCertificate"
						th:field="*{idStatusCertificate}">

					<div class="form-group">

						<label for="alias" class="col-form-label"
							th:text="#{form.ssl.alias}"></label>
						<script th:inline="javascript">
							/*<![CDATA[*/
							var messageAlias = /*[[#{form.cert.edit.alias.pattern}]]*/'default';
							/*]]>*/
						</script>
						<input onblur="validate(this,messageAlias);" type="text"
							id="alias" th:field="*{alias}" style="overflow: hidden"
							class="form-control" required pattern=".{3,4000}" />
						<div id="invalid-alias" class="invalid-feedback"></div>

						<div style="clear: both;" />
					</div>

					<div class="form-group">

						<label for="subject" class="col-form-label"
							th:text="#{form.ssl.subject}"></label> <input type="text"
							id="subject" th:field="*{subject}" style="overflow: hidden"
							readonly class="form-control" required pattern=".{3,15}" />
						<div id="invalid-subject" class="invalid-feedback"></div>

						<div style="clear: both;" />
					</div>

					<div class="form-group">

						<label for="issuer" class="col-form-label"
							th:text="#{form.ssl.issuer}"></label> <input type="text"
							id="issuer" th:field="*{issuer}" style="overflow: hidden"
							readonly class="form-control" required pattern=".{3,15}" />
						<div id="invalid-issuer" class="invalid-feedback"></div>

						<div style="clear: both;" />
					</div>

					<div class="form-group">

						<label for="serialNumber" class="col-form-label"
							th:text="#{form.ssl.serialNumber}"></label> <input type="text"
							id="serialNumber" th:field="*{serialNumber}"
							style="overflow: hidden" readonly class="form-control" required
							pattern=".{3,15}" />
						<div id="invalid-serialNumber" class="invalid-feedback"></div>

						<div style="clear: both;" />
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"
					onclick="closeButton('modalEdit')">Cerrar</button>
				<button type="submit" id="editBtnModal" class="btn btn-primary">Guardar
					cambios</button>
			</div>
		</div>
	</div>
</div>
