<div class="modal" tabindex="-1" role="dialog" id="modalLogForm">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Datos del servidor de logs</h4>
				<button type="button" class="close" onclick="closeButton('modalLogForm')" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

	<form name="altEditor-form" role="form" id="logServerForm" th:object="${logServerForm}" th:action="@{/savelogserver}" method="post">
					
	<input type='hidden' class='primarykey' id="logServerId" th:field="*{logServerId}">
	<div id="resultSaveLog" data-dismiss="alert"></div>
	
	<div class="form-group">
		
			<label for="name" class="col-form-label" th:text="#{form.log.server.name}"></label>
			<span id="name_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span>
			<input type="text" name="name" id="name" th:field="*{name}" style="overflow:hidden" class="form-control" required maxlength="45" />
					
		<div style="clear:both;"/>
	</div>
	
	<div class="form-group">
		
		<label for="urlService" class="col-form-label" th:text="#{form.log.server.url.service}"></label>
		<span id="urlService_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span>
		<input type="text" name="urlService" id="urlService" th:field="*{urlService}" style="overflow:hidden" class="form-control" required maxlength="500"/>
		
		<div style="clear:both;"/>
	</div>
		
	<div class="form-group">
		
		<label for="key" class="col-form-label" th:text="#{form.log.server.key}"></label>
		<span id="key_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span>
		<input name="key" type="text" id="key" th:field="*{key}" style="overflow:hidden" class="form-control" required maxlength="45"/>
			
		<div style="clear:both;"/>
	</div>
	
	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="verifySSL" th:text="#{form.log.server.verify.ssl}"></label>
			<input name="verifySSL" type="checkbox" id="verifySSL" th:checked="${logServerForm.verifySSL}" th:value="${logServerForm.verifySSL}">
		</div>
	</div>
	
	<div class="form-row">
		<button type="button" class="btn btn-secondary" id="check-connection-button" >Comprobar conexi&oacute;n</button>
		<span id="connection-result" class="mon-alert-message" role="alert"></span>
	</div>
</form>

</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" onclick="closeButton('modalLogForm')">Cerrar</button>
				<button type="submit" id="saveBtnModal" class="btn btn-primary">Guardar cambios</button>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript">
$(document).ready(function () {
	
	// Inicializacion con valor correcto del checkbox
	if ($("#verifySSL").val() == 'true') {
		$("#logServerForm.verifySSL").prop('checked', true);
		$("#logServerForm.verifySSL").attr('value', true);
    } else {
    	$("#logServerForm.verifySSL").prop('checked', false);
    	$("#logServerForm.verifySSL").attr('value', false);
    }
	
	$("#verifySSL").change(function () {
        if ($(this).is(":checked")) {
        	$(this).attr('value', 'true');
        	$('#verifySSL').attr('value', 'true');
        }
        else {
        	$(this).attr('value', 'false');
        	$('#verifySSL').attr('value', 'false');
        }
    });

    $("#check-connection-button").on("click", function () {

    	$.ajax("checklogserver", {
	        type: 'POST',
	        data: $.param({'urlTex': $('#urlService').val(), 'verifySsl': $('#verifySSL').val()}),
	        success: function(data, status, response) {

				console.log("Conexion correcta");
				
				console.log(data);
				
				if (data === true) {
					$("#connection-result").removeClass("alert-success alert-danger");
					$("#connection-result").addClass("alert-success");
					$("#connection-result").html("<strong>Conexi&oacute;n correcta</strong>");
				}
				else {
					$("#connection-result").removeClass("alert-success alert-danger");
		        	$("#connection-result").addClass("alert-danger");
		        	$("#connection-result").html("<strong>No se ha podido conectar con el servidor</strong>");	
				}
	        },
	        error: function(err) {
	        	console.log("Conexion fallida");
	        	$("#connection-result").removeClass("alert-success alert-danger");
	        	$("#connection-result").addClass("alert-danger");
	        	$("#connection-result").html("<strong>No se ha podido comprobar la conexi&oacute;n con el servidor</strong>");
			}
		});
    });
});

$( "#saveBtnModal" ).click(function( event ) {
	  event.preventDefault();
		
	  var formData = JSON.stringify($("#logServerForm").serializeJSON());
	  var tbl = $('#logServerTable').DataTable();
	  var url = /*[[@{/savelogserver}]]*/;
	  
	  loading();
	  
	  $.ajax({
		  type: "POST",
		  url: url,
		  data: formData,
		  success: function(data){
			hide();
						
			if (data.error != null){
			 	hide();
			 	var errores = JSON.parse(data.error);
				  jQuery.each(errores, function(i, val) {
				  	$('#logServerForm *').filter('span').each(function(){
						if (i == $(this).attr('id')){
							$("#" + i).text(val);
						}
					});
				  });
				  
	  		}else{
						
					tbl.row.add($(data.data)).draw(false);
					
					$("#logServerForm")[0].reset();
					 $('#logServerForm *').filter('span').each(function(){
							$(this).text('');
						});
					  	 					  
					var messageResponse = /*[[#{message.success.user.edit}]]*/;
						 								  
					//se muestra un mensaje
					$('#resultSaveLog').html(messageResponse);
					$('#resultSaveLog').removeClass('alert-danger')	
					$('#resultSaveLog').addClass('alert alert-success');
				 	$("#resultSaveLog").fadeTo(2000, 500).slideUp(500, function() {
					$("#resultSaveLog").slideUp(500);
					
	 					//se cierra modal
	 					closeModal('modalLogForm');
				 	});
			}
				 	
			$('#logServerForm *').filter(':input').each(function(){
			  $("#" + $(this).attr('id')).removeClass("has-error");
			});
						
		  },
		  error:function(){
			  hide();
			  var messageResponse = /*[[#{message.error.user.edit}]]*/;
			  $('#resultSaveLog').removeClass('alert-success')	
			  $('#resultSaveLog').addClass('alert alert-danger');
			  $("#resultSaveLog").html(messageResponse);
		  },
		  dataType: "json",
		  contentType : "application/json"
	});
				  
	  
});
</script>