<div class="modal" tabindex="-1" role="dialog" id="modalUserAdd">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Agregar usuario</h4>
				<button type="button" class="close" onclick="closeButton('modalUserAdd')" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

	<form name="altEditor-form" role="form" id="userForm" th:object="${userform}" th:action="@{/saveuser}" method="post">
				
			<input type='hidden' class='primarykey' id="userId" th:field="*{userId}">
			<div id="resultAddUser" data-dismiss="alert"></div>
			<div class="form-group">
				
					<label for="nameAdd" class="col-form-label" th:text="#{form.user.name}"></label>
					<span id="nameAdd_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span>
					<input type="text" name="nameAdd" autocomplete="nope" id="nameAdd" th:field="*{nameAdd}" class="form-control" maxlength="45" required />
					<div id="invalid-nameAdd" class="invalid-modal" ></div>
				
				<div style="clear:both;"/>
			</div>
			
			<div class="form-group">
				
					<label for="surnamesAdd" class="col-form-label" th:text="#{form.user.surnames}"></label>
					<span id="surnamesAdd_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span>
					<input type="text" name="surnamesAdd" autocomplete="nope" id="surnamesAdd" th:field="*{surnamesAdd}" class="form-control" maxlength="120" required />
					<div id="invalid-surnamesAdd" class="invalid-modal" ></div>
				
				<div style="clear:both;"/>
			</div>
			
			<div class="form-group">
				
					<label for="loginAdd" class="col-form-label" th:text="#{form.user.login}"></label>
					<span id="loginAdd_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span>
					<input type="text" name="loginAdd" autocomplete="nope" id="loginAdd"  th:field="*{loginAdd}" style="overflow:hidden" class="form-control" maxlength="30" required />
					<div id="invalid-loginAdd" class="invalid-modal" ></div>
				
				<div style="clear:both;"/>
			</div>
			
			<div class="form-group">
			
				<label for="rolId" th:text="#{form.user.rol}"></label>
					<select id="rolId" name="rolId" class="form-control" th:field="*{rolId}">
					<option selected="selected" value="" th:disabled="disabled"
							th:text="#{form.user.Editrol.pattern}"></option>
						<option th:each="rol: ${listRoles}" th:value="${rol.rolId}" th:text="${rol.rolName}" th:selected="${userform.rolId == rol.rolId}"></option>
					</select>
			</div>
			
			<div class="form-group">
			    <label for="dniAdd" class="col-form-label" th:text="#{form.user.dni}"></label>
			    <span id="dniAdd_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 badge-pill"></span>
			    <input type="text" name="dniAdd" id="dniAdd" th:field="*{dniAdd}" class="form-control" maxlength="9" />
			    <div id="invalid-dniAdd" class="invalid-modal"></div>
			    <div style="clear:both;"></div>
			</div>
			
			<div class="form-group">
				
					<label for="passwordAdd" class="col-form-label" th:text="#{form.user.password}"></label>
					<span id="passwordAdd_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span>
					<input type="password" style="display:none">
					<input type="password" name="passwordAdd" id="passwordAdd" th:field="*{passwordAdd}" class="form-control" maxlength="12" required />
					<div id="invalid-passwordAdd" class="invalid-modal" ></div>
				
				<div style="clear:both;"/>
			</div>
			
			<div class="form-group">
				
					<label for="confirmPasswordAdd" class="col-form-label" th:text="#{form.user.confirmPassword}"></label>
					<span id="confirmPasswordAdd_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span>
					<input type="password" name="confirmPasswordAdd" id="confirmPasswordAdd" th:field="*{confirmPasswordAdd}" class="form-control" maxlength="12" required />
					<div id="invalid-confirmPassword" class="invalid-modal" ></div>
				
				<div style="clear:both;"/>
			</div>
			
			<div class="form-group">
				
					<label for="emailAdd" class="col-form-label" th:text="#{form.user.email}"></label>
					<span id="emailAdd_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span>
					<input type="email" name="emailAdd" autocomplete="nope" id="emailAdd" th:field="*{emailAdd}" style="overflow:hidden" class="form-control" maxlength="45" required/>
					<div id="invalid-emailAdd" class="invalid-modal" ></div>
				
				<div style="clear:both;"/>
			</div>
			<div class="form-group">
				
					<label for="telfAdd" class="col-form-label" th:text="#{form.user.telf}"></label>
					<span id="telfAdd_span" class="badge bgc-red-50 c-red-700 p-10 lh-0  badge-pill"></span>
					<input type="text" name="telfAdd" autocomplete="nope" id="telfAdd" th:field="*{telfAdd}"  style="overflow:hidden" maxlength="45" class="form-control" />
					<div id="invalid-telfAdd" class="invalid-modal" ></div>
				
				<div style="clear:both;"/>
			</div>
</form>
</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" onclick="closeButton('modalUserAdd')">Cerrar</button>
				<button type="submit" id="addBtnModal" class="btn btn-primary">Guardar cambios</button>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript">

$(document).ready(function() {
	$('#rolId').change();
});

//Evento de cambio de valor del listado de roles
$('#rolId').change(function() {
    
	hide();
	
	var rolSelected = $("#rolId option:selected").val();
	
	if (rolSelected != 1) {
				
		$('#passwordAdd').prop("disabled", true);
		$('#passwordAdd').val('');
		$('#confirmPasswordAdd').prop("disabled", true);
		$('#confirmPasswordAdd').val('');
		$('#dniAdd').prop("disabled", true);
		$('#dniAdd').val('');
	} else {
		$('#passwordAdd').prop("disabled", false);
		$('#confirmPasswordAdd').prop("disabled", false);
		$('#dniAdd').prop("disabled", false);
	}

});

function validateConfirmPassword(){
	
	var pass = $('#passwordAdd').val();
    var repass = $('#confirmPasswordAdd').val();
	var messageConfirmPassword = /*[[#{form.user.confirmPassword.pattern}]]*/ 'default';
	
 
    	if (pass != repass) {
    	$('#invalid-confirmPassword').html(messageConfirmPassword);
		$('#invalid-confirmPassword').addClass("invalid-modal");
    }
    else {
    	$('#invalid-confirmPassword').html('');
		$('#invalid-confirmPassword').removeClass("invalid-modal");
    }
	
}
   
$( "#addBtnModal" ).click(function( event ) {
	  event.preventDefault();
		
	  var formData = JSON.stringify($("#userForm").serializeJSON());
	  var tbl = $('#userTable').DataTable();
	  var url = /*[[@{/saveuser}]]*/;
	  
	  loading();
	  
	  $.ajax({
		  type: "POST",
		  url: url,
		  data: formData,
		  success: function(data){
			hide();
						
			if (data.error != null){
			 	hide();
			 	var errores = JSON.parse(data.error);
				  jQuery.each(errores, function(i, val) {
				  	$('#userForm *').filter('span').each(function(){
						if (i == $(this).attr('id')){
							$("#" + i).text(val);
						}
					});
				  });
				  
	  		}else{
						
					tbl.row.add($(data.data)).draw(false);
					
					$("#userForm")[0].reset();
					 $('#userForm *').filter('span').each(function(){
							$(this).text('');
						});
					  	 					  
					var messageResponse = /*[[#{message.success.user.add}]]*/;
						 								  
					//se muestra un mensaje
					$('#resultAddUser').html(messageResponse);
					$('#resultAddUser').removeClass('alert-danger')	
					$('#resultAddUser').addClass('alert alert-success');
				 	$("#resultAddUser").fadeTo(2000, 500).slideUp(500, function() {
					$("#resultAddUser").slideUp(500);
					
	 					//se cierra modal
	 					closeModal('modalUserAdd');
				 	});
			}
				 	
			$('#userFormEdit *').filter(':input').each(function(){
			  $("#" + $(this).attr('id')).removeClass("has-error");
			});
						
		  },
		  error:function(){
			  hide();
			  var messageResponse = /*[[#{message.error.user.edit}]]*/;
			  $('#resultAddUser').removeClass('alert-success')	
			  $('#resultAddUser').addClass('alert alert-danger');
			  $("#resultAddUser").html(messageResponse);
		  },
		  dataType: "json",
		  contentType : "application/json"
	});
				  
});

</script>
