<div class="modal" tabindex="-1" role="dialog" id="modalUserEdit">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Editar registro</h4>
				<button type="button" class="close" onclick="closeButton('modalUserEdit')" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="altEditor-form" role="form" id="userFormEdit" th:object="${userformedit}" th:action="@{/saveuseredit}" method="post">
					<input type='hidden' class='primarykey' id="idUserFireEdit" th:field="*{idUserFireEdit}">
					<div id="resultEditUser" data-dismiss="alert"></div>
					<div class="form-group">
						
							<label for="nameEdit" class="col-form-label" th:text="#{form.user.name}"></label>
							<span id="nameEdit_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
							<input type="text" id="nameEdit" th:field="*{nameEdit}" style="overflow:hidden" autocomplete="nope" class="form-control" maxlength="45" required />
							<div id="invalid-name" class="invalid-feedback" ></div>
						
						<div style="clear:both;"/>
					</div>
					
					<div class="form-group">
						
							<label for="surnamesEdit" class="col-form-label" th:text="#{form.user.surnames}"></label>
							<span id="surnamesEdit_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
							<input type="text" id="surnamesEdit" th:field="*{surnamesEdit}" style="overflow:hidden" autocomplete="nope" class="form-control" maxlength="120" required />
							<div id="invalid-surnames" class="invalid-feedback" ></div>
						
						<div style="clear:both;"/>
					</div>
					
					<div class="form-group">
						
							<label for="usernameEdit" class="col-form-label" th:text="#{form.user.login}"></label>
							<span id="usernameEdit_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
							<input type="text" id="usernameEdit" th:field="*{usernameEdit}" style="overflow:hidden" autocomplete="nope" class="form-control" maxlength="30" required />
							<div id="invalid-login" class="invalid-feedback" ></div>
						
						<div style="clear:both;"/>
					</div>
					
					<div class="form-group">
			
						<label for="idRol" th:text="#{form.user.rol}"></label>
							<select id="rolId" name="rolId" class="form-control" th:field="*{rolId}">
								<option selected="selected" value="" th:disabled="disabled"
										th:text="#{form.user.Editrol.pattern}"></option>
									<option th:each="rol: ${listRoles}" th:value="${rol.rolId}" th:text="${rol.rolName}" th:selected="${userformedit.rolId == rol.rolId}"></option>
							</select>
							<input type="hidden" id="rolId_" name="rolId"/>
					</div>
					
					
					<div class="form-group">
						
							<label for="passwordEdit" class="col-form-label" th:text="#{form.user.password}"></label>
							<span id="passwordEdit_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
							<input type="password" style="display:none">
							<input type="password" name="passwordEdit" id="passwordEdit" th:field="*{passwordEdit}" class="form-control" maxlength="12" required />
							<div id="invalid-passwordAdd" class="invalid-modal" ></div>
						
						<div style="clear:both;"/>
					</div>
					
					<div class="form-group">
						
							<label for="confirmPasswordEdit" class="col-form-label" th:text="#{form.user.confirmPassword}"></label>
							<span id="confirmPasswordEdit_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
							<input type="password" name="confirmPasswordEdit" id="confirmPasswordEdit" th:field="*{confirmPasswordEdit}" class="form-control" maxlength="12" required />
							<div id="invalid-confirmPassword" class="invalid-modal" ></div>
						
						<div style="clear:both;"/>
					</div>
					
					<div class="form-group">
						
							<label for="emailEdit" class="col-form-label" th:text="#{form.user.email}"></label>
							<span id="emailEdit_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
							<input type="email" id="emailEdit" th:field="*{emailEdit}" autocomplete="nope" style="overflow:hidden" class="form-control" maxlength="45" required/>
							<div id="invalid-email" class="invalid-feedback" ></div>
						
						<div style="clear:both;"/>
					</div>
					
						<div class="form-group">
						
							<label for="telfEdit" class="col-form-label" th:text="#{form.user.telf}"></label>
							<span id="telfEdit_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
							<input type="text" id="telfEdit" th:field="*{telfEdit}" autocomplete="nope" style="overflow:hidden" maxlength="45" class="form-control"  />
							<div id="invalid-telf" class="invalid-feedback" ></div>
						
						<div style="clear:both;"/>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" onclick="closeButton('modalUserEdit')">Cerrar</button>
				<button type="submit" id="editBtnModal" class="btn btn-primary">Guardar cambios</button>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript">

	var currentRol = -1;

	$(document).ready(function() {
		
		$('#rolId_').val($('#rolId').val());
		
		// El administrador principal (admin) no puede modificar su nombre de usuario ni su rol
		if ($('#usernameEdit').val() == "admin") {
			$('#usernameEdit').prop("readonly", true);
			$('#rolId').prop("disabled", true);		
		}
		
		// Las contrasenas no pueden modificarse desde este formulario. Los campos estaran deshabilitados por defecto
		// y se activaran solo cuando se le cambie el rol de un usuario a administradorcuando
 		$('#passwordEdit').prop("disabled", true);
		$('#confirmPasswordEdit').prop("disabled", true);
		
		// El indice del rol inicial para identificar si era adminis
		currentRol = $("#rolId option:selected").val();
	});

	// Evento de cambio de valor del listado de roles
	$( "#rolId" ).change(function() {
	    
		hide();
		$('#rolId_').val($('#rolId').val());
		
		var rolSelected = $("#rolId option:selected").val();
			
		// Si eramos administrador, nunca activaremos los campos de contrasena.
		// Tampoco se activaran cuando se asigne un rol distinto de administrador 
		if (currentRol == 1 || rolSelected != 1) {

			$('#passwordEdit').prop("disabled", true);
			$('#passwordEdit').val('');
			$('#confirmPasswordEdit').prop("disabled", true);
			$('#confirmPasswordEdit').val('');

		} else {
			$('#passwordEdit').prop("disabled", false);
			$("passwordEdit").prop('required',true);
			$('#confirmPasswordEdit').prop("disabled", false);
			$("confirmPasswordEdit").prop('required',true);
		}

	});
	
	function validateConfirmPassword(){
		
		var pass = $('#passwordEdit').val();
	    var repass = $('#confirmPasswordEdit').val();
		var messageConfirmPassword = /*[[#{form.user.confirmPassword.pattern}]]*/ 'default';
		
	    if (pass != repass) {
	    	$('#invalid-confirmPassword').html(messageConfirmPassword);
			$('#invalid-confirmPassword').addClass("invalid-modal");
	    }
	    else {
	    	$('#invalid-confirmPassword').html('');
			$('#invalid-confirmPassword').removeClass("invalid-modal");
	    }
		
	}
	
	$( "#editBtnModal" ).click(function( event ) {
		  event.preventDefault();
			
		  var formData = JSON.stringify($("#userFormEdit").serializeJSON());
		  var tbl = $('#userTable').DataTable();
		  var url = /*[[@{/saveuseredit}]]*/;
		  
		  loading();
		  
		  $.ajax({
			  type: "POST",
			  url: url,
			  data: formData,
			  success: function(data){
				hide();
					
				if ($('#errorModalEdit').length > 0){
					$('#errorModalEdit').remove();
				}				
				
				if (data.error != null){
				 	hide();
				 	var errores = JSON.parse(data.error);
					  jQuery.each(errores, function(i, val) {
					  	$('#userFormEdit *').filter('span').each(function(){
							if (i == $(this).attr('id')){
								$("#" + i).text(val);
							}
						});
					  });
					  
		  		}else{
							
						tbl.row.add($(data.data)).draw(false);
						
						$("#userFormEdit")[0].reset();
	 					 $('#userFormEdit *').filter('span').each(function(){
	 							$(this).text('');
	 						});
	 					  	 					  
	 					var messageResponse = /*[[#{message.success.user.edit}]]*/;
	 						 								  
	 					//se muestra un mensaje
	 					$('#resultEditUser').html(messageResponse);
	 					$('#resultEditUser').removeClass('alert-danger')	
	 					$('#resultEditUser').addClass('alert alert-success');
	 				 	$("#resultEditUser").fadeTo(2000, 500).slideUp(500, function() {
	 					$("#resultEditUser").slideUp(500);
	 					
		 					//se cierra modal
		 					closeModal('modalUserEdit');
	 				 	});
	 			}
	 				 	
	 			$('#userFormEdit *').filter(':input').each(function(){
	 			  $("#" + $(this).attr('id')).removeClass("has-error");
	 			});
							
			  },
			  error:function(){
				  hide();
 				  var messageResponse = /*[[#{message.error.user.edit}]]*/;
 				  $('#resultEditUser').removeClass('alert-success')	
 				  $('#resultEditUser').addClass('alert alert-danger');
 				  $("#resultEditUser").html(messageResponse);
			  },
			  dataType: "json",
			  contentType : "application/json"
		});
					  
	 	  
});
	
	
	
</script>