<div class="modal" tabindex="-1" role="dialog" id="modalEdit">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Editar registro</h4>
				<button type="button" class="close" onclick="closeButton('modalEdit')" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="altEditor-form" role="form" id="userFormEdit" th:object="${userformedit}" th:action="@{/saveuseredit}" method="post">
					<input type='hidden' class='primarykey' id="idUserFireEdit" th:field="*{idUserFireEdit}">
					
					<div class="form-group">
						
							<label for="nameEdit" class="col-form-label" th:text="#{form.user.name}"></label>
							<script th:inline="javascript">
								/*<![CDATA[*/
								    var messageName = /*[[#{form.user.name.pattern}]]*/ 'default';
								/*]]>*/
							</script>
							<input onblur="validate(this,messageName);" type="text" id="nameEdit" th:field="*{nameEdit}" style="overflow:hidden" autocomplete="nope" class="form-control" required pattern=".{3,15}" />
							<div id="invalid-name" class="invalid-feedback" ></div>
						
						<div style="clear:both;"/>
					</div>
					
					<div class="form-group">
						
							<label for="surnamesEdit" class="col-form-label" th:text="#{form.user.surnames}"></label>
							<script th:inline="javascript">
								/*<![CDATA[*/
								    var messageSurname = /*[[#{form.user.surnames.pattern}]]*/ 'default';
								/*]]>*/
							</script>
							<input onblur="validate(this,messageSurname);" type="text" id="surnamesEdit" th:field="*{surnamesEdit}" style="overflow:hidden" autocomplete="nope" class="form-control" required pattern=".{3,30}"/>
							<div id="invalid-surnames" class="invalid-feedback" ></div>
						
						<div style="clear:both;"/>
					</div>
					
					<div class="form-group">
						
							<label for="usernameEdit" class="col-form-label" th:text="#{form.user.login}"></label>
							<script th:inline="javascript">
								/*<![CDATA[*/
								    var messageLogin = /*[[#{form.user.login.pattern}]]*/ 'default';
								/*]]>*/
							</script>
							<input onblur="validate(this,messageLogin);" type="text" id="usernameEdit" th:field="*{usernameEdit}" style="overflow:hidden" autocomplete="nope" class="form-control" required pattern=".{5,30}"/>
							<div id="invalid-login" class="invalid-feedback" ></div>
						
						<div style="clear:both;"/>
					</div>
					
					<div class="form-group">
			
						<label for="idRol" th:text="#{form.user.rol}"></label>
							<select id="rolId" name="rolId" class="form-control" th:field="*{rolId}">
								<option selected="selected" value="" th:disabled="disabled"
										th:text="#{form.user.Editrol.pattern}"></option>
									<option th:each="rol: ${listRoles}" th:value="${rol.rolId}" th:text="${rol.rolName}" th:selected="${userformedit.rolId == rol.rolId}"></option>
							</select>
					</div>
					
					
					<div class="form-group">
						
							<label for="passwordEdit" class="col-form-label" th:text="#{form.user.password}"></label>
							<script th:inline="javascript">
								/*<![CDATA[*/
								    var messagePassword = /*[[#{form.user.password.pattern}]]*/ 'default';
								/*]]>*/
							</script>
							<input type="password" style="display:none">
							<input onblur="validate(this,messagePassword);" type="password" name="passwordEdit" id="passwordEdit" th:field="*{password}" class="form-control"  required />
							<div id="invalid-passwordAdd" class="invalid-modal" ></div>
						
						<div style="clear:both;"/>
					</div>
					
					<div class="form-group">
						
							<label for="confirmPasswordEdit" class="col-form-label" th:text="#{form.user.confirmPassword}"></label>
							<input onblur="validateConfirmPassword();" type="password" name="confirmPasswordEdit" id="confirmPasswordEdit" th:field="*{confirmPassword}" class="form-control"  required />
							<div id="invalid-confirmPassword" class="invalid-modal" ></div>
						
						<div style="clear:both;"/>
					</div>
					
					<div class="form-group">
						
							<label for="emailEdit" class="col-form-label" th:text="#{form.user.email}"></label>
							<script th:inline="javascript">
								/*<![CDATA[*/
								    var messageEmail = /*[[#{form.user.email.pattern}]]*/ 'default';
								/*]]>*/
							</script>
							<input onblur="validate(this,messageEmail);" type="email" id="emailEdit" th:field="*{emailEdit}" autocomplete="nope" style="overflow:hidden" class="form-control" required/>
							<div id="invalid-email" class="invalid-feedback" ></div>
						
						<div style="clear:both;"/>
					</div>
					
						<div class="form-group">
						
							<label for="telfEdit" class="col-form-label" th:text="#{form.user.telf}"></label>
							<script th:inline="javascript">
								/*<![CDATA[*/
								    var messageTelf = /*[[#{form.user.telf.pattern}]]*/ 'default';
								/*]]>*/
							</script>
							<input onblur="validate(this,messageName);" type="text" id="telfEdit" th:field="*{telfEdit}" autocomplete="nope" style="overflow:hidden" class="form-control"  />
							<div id="invalid-telf" class="invalid-feedback" ></div>
						
						<div style="clear:both;"/>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" onclick="closeButton('modalEdit')">Cerrar</button>
				<button type="submit" id="editBtnModal" class="btn btn-primary">Guardar cambios</button>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript">

	var currentRol = -1;

	$(document).ready(function() {
		
		// El administrador principal (admin) no puede modificar su nombre de usuario ni su rol
		if ($('#usernameEdit').val() == "admin") {
			$('#usernameEdit').prop("disabled", true);
			$('#rolId').prop("disabled", true);
		}
		
		// Las contrasenas no pueden modificarse desde este formulario. Los campos estaran deshabilitados por defecto
		// y se activaran solo cuando se le cambie el rol de un usuario a administradorcuando
 		$('#passwordEdit').prop("disabled", true);
		$('#confirmPasswordEdit').prop("disabled", true);
		
		// El indice del rol inicial para identificar si era adminis
		currentRol = $("#rolId option:selected").val();
	});

	// Evento de cambio de valor del listado de roles
	$( "#rolId" ).change(function() {
	    
		hide();
		
		var rolSelected = $("#rolId option:selected").val();
			
		// Si eramos administrador, nunca activaremos los campos de contrasena.
		// Tampoco se activaran cuando se asigne un rol distinto de administrador 
		if (currentRol == 1 || rolSelected != 1) {

			$('#passwordEdit').prop("disabled", true);
			$('#passwordEdit').val('');
			$('#confirmPasswordEdit').prop("disabled", true);
			$('#confirmPasswordEdit').val('');

		} else {
			$('#passwordEdit').prop("disabled", false);
			$('#confirmPasswordEdit').prop("disabled", false);
		}

	});
	
	function validateConfirmPassword(){
		
		var pass = $('#passwordEdit').val();
	    var repass = $('#confirmPasswordEdit').val();
		var messageConfirmPassword = /*[[#{form.user.confirmPassword.pattern}]]*/ 'default';
		
	    if (pass != repass) {
	    	$('#invalid-confirmPassword').html(messageConfirmPassword);
			$('#invalid-confirmPassword').addClass("invalid-modal");
	    }
	    else {
	    	$('#invalid-confirmPassword').html('');
			$('#invalid-confirmPassword').removeClass("invalid-modal");
	    }
		
	}
	
	$( "#editBtnModal" ).click(function( event ) {
		  event.preventDefault();
			
		  var formData = JSON.stringify($("#userFormEdit").serializeJSON());
		  var tbl = $('#userTable').DataTable();
		  var url = /*[[@{/saveuseredit}]]*/;
		  
		  loading();
		  
		  $.ajax({
			  type: "POST",
			  url: url,
			  data: formData,
			  success: function(data){
				hide();
				
				if ($('#errorModalEdit').length > 0){
					$('#errorModalEdit').remove();
				}
				
				$('#modalEdit').modal('hide');
				tbl.row.add($(data.data)).draw(false);
				
			  },
			  error:function(){
				  hide();
				  if (!$('#errorModalEdit').length > 0){
				  	$('#userFormEdit').append('<div id="errorModalEdit" class="alert alert-danger" role="alert"><strong>Error inesperado, int\u00E9ntelo mas tarde!</strong></div>');
				  }
			  },
			  dataType: "json",
			  contentType : "application/json"
		});
	});
	
	
</script>