<div class="modal" tabindex="-1" role="dialog" id="modalEdit">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Editar registro</h4>
				<button type="button" class="close" onclick="closeButton('modalEdit')" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="altEditor-form" role="form" id="userFormEdit" th:object="${userformedit}" th:action="@{/saveuseredit}" method="post">
					<input type='hidden' class='primarykey' id="idUserFireEdit" th:field="*{idUserFireEdit}">
					
					<div class="form-group">
						
							<label for="nameEdit" class="col-form-label" th:text="#{form.user.name}"></label>
							<script th:inline="javascript">
								/*<![CDATA[*/
								    var messageName = /*[[#{form.user.name.pattern}]]*/ 'default';
								/*]]>*/
							</script>
							<input onblur="validate(this,messageName);" type="text" id="nameEdit" th:field="*{nameEdit}" style="overflow:hidden" autocomplete="nope" class="form-control" required pattern=".{3,15}" />
							<div id="invalid-name" class="invalid-feedback" ></div>
						
						<div style="clear:both;"/>
					</div>
					
					<div class="form-group">
						
							<label for="surnamesEdit" class="col-form-label" th:text="#{form.user.surnames}"></label>
							<script th:inline="javascript">
								/*<![CDATA[*/
								    var messageSurname = /*[[#{form.user.surnames.pattern}]]*/ 'default';
								/*]]>*/
							</script>
							<input onblur="validate(this,messageSurname);" type="text" id="surnamesEdit" th:field="*{surnamesEdit}" style="overflow:hidden" autocomplete="nope" class="form-control" required pattern=".{3,30}"/>
							<div id="invalid-surnames" class="invalid-feedback" ></div>
						
						<div style="clear:both;"/>
					</div>
					
					<div class="form-group">
						
							<label for="usernameEdit" class="col-form-label" th:text="#{form.user.login}"></label>
							<script th:inline="javascript">
								/*<![CDATA[*/
								    var messageLogin = /*[[#{form.user.login.pattern}]]*/ 'default';
								/*]]>*/
							</script>
							<input onblur="validate(this,messageLogin);" type="text" id="usernameEdit" th:field="*{usernameEdit}" style="overflow:hidden" autocomplete="nope" class="form-control" required pattern=".{5,30}"/>
							<div id="invalid-login" class="invalid-feedback" ></div>
						
						<div style="clear:both;"/>
					</div>
					
					<div class="form-group">
			
						<label for="idRol" th:text="#{form.user.rol}"></label>
							<select id="rolId" name="rolId" class="form-control" th:field="*{rolId}">
								<option selected="selected" value="" th:disabled="disabled"
										th:text="#{form.user.Editrol.pattern}"></option>
									<option th:each="rol: ${listRoles}" th:value="${rol.rolId}" th:text="${rol.rolName}" th:selected="${userformedit.rolId == rol.rolId}"></option>
							</select>
					</div>
					
					<div class="form-group">
						
							<label for="emailEdit" class="col-form-label" th:text="#{form.user.email}"></label>
							<script th:inline="javascript">
								/*<![CDATA[*/
								    var messageEmail = /*[[#{form.user.email.pattern}]]*/ 'default';
								/*]]>*/
							</script>
							<input onblur="validate(this,messageEmail);" type="email" id="emailEdit" th:field="*{emailEdit}" autocomplete="nope" style="overflow:hidden" class="form-control" required/>
							<div id="invalid-email" class="invalid-feedback" ></div>
						
						<div style="clear:both;"/>
					</div>
					
						<div class="form-group">
						
							<label for="telfEdit" class="col-form-label" th:text="#{form.user.telf}"></label>
							<script th:inline="javascript">
								/*<![CDATA[*/
								    var messageTelf = /*[[#{form.user.telf.pattern}]]*/ 'default';
								/*]]>*/
							</script>
							<input onblur="validate(this,messageName);" type="text" id="telfEdit" th:field="*{telfEdit}" autocomplete="nope" style="overflow:hidden" class="form-control" required pattern=".{3,15}" />
							<div id="invalid-telf" class="invalid-feedback" ></div>
						
						<div style="clear:both;"/>
					</div>
					
					
					<!-- <div class="form-group-modal">
						
							<label for="rolEdit" class="col-form-label" th:text="#{form.user.rol}"></label>
							<script th:inline="javascript">
								/*<![CDATA[*/
								    var messageRol = /*[[#{form.user.surnames.pattern}]]*/ 'default';
								/*]]>*/
							</script>
							<select
								id="query" name="query" class="form-control">
								<option selected="selected" value=""
									th:text="#{form.user.Editrol.pattern}"></option>
								<option selected="selected" value="" th:disabled="disabled"
							th:text="#{form.user.Editrol.pattern}"></option>
						<option  th:value="'1'" th:text="#{form.user.rol.administrador}"></option>
   						<option  th:value="'2'" th:text="#{form.user.rol.responsable}"></option>
   						<option  th:value="'3'" th:text="#{form.user.rol.contacto}"></option>
							</select>
							<div id="invalid-rol" class="invalid-feedback" ></div>
						
						<div style="clear:both;"/>
					</div> -->
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" onclick="closeButton('modalEdit')">Cerrar</button>
				<button type="submit" id="editBtnModal" class="btn btn-primary">Guardar cambios</button>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript">
	$( "#editBtnModal" ).click(function( event ) {
		  event.preventDefault();
			
		  var formData = JSON.stringify($("#userFormEdit").serializeJSON());
		  var tbl = $('#userTable').DataTable();
		  var url = /*[[@{/saveuseredit}]]*/;
		  
		  loading();
		  
		  $.ajax({
			  type: "POST",
			  url: url,
			  data: formData,
			  success: function(data){
				hide();
				
				if ($('#errorModalEdit').length > 0){
					$('#errorModalEdit').remove();
				}
				
				$('#modalEdit').modal('hide');
				tbl.row.add($(data.data)).draw(false);
				
			  },
			  error:function(){
				  hide();
				  if (!$('#errorModalEdit').length > 0){
				  	$('#userFormEdit').append('<div id="errorModalEdit" class="alert alert-danger" role="alert"><strong>Error inesperado, int\u00E9ntelo mas tarde!</strong></div>');
				  }
			  },
			  dataType: "json",
			  contentType : "application/json"
		});
	});
	
	
</script>