@charset "utf-8";

/* *************************************************************************** */
/* Proyecto: MINHAP                                                            */
/* Titulo: layout.css                                          */
/* Desripcion: Estructura general del site                     */
/* *************************************************************************** */

/*------------------------------ WRAPPER --------------------------------------*/

html, body, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

html,body { height: 100%; margin: 0; }

body { font-family: Arial, Helvetica, sans-serif; font-size: 85%; font-weight: normal; margin: 0 auto; padding: 0; border: 0; color: #707070; background: #fff;}
body { display: flex; flex-direction: column; } 
	
.main { display:block; width: 90%;  margin: 0 auto; flex: 1 0 auto; }/*width: 1024px;*/
.general_content { position: relative; float: left; width: 100%; background: url(../img/general/header_bk_org.png) top left repeat-x; background-size: auto 10em; }
.wrapper { position: relative; width: 1024px; margin: 0 auto; }
.wrapper_menu { position: relative; width: 90%; margin: 0 auto; }
.wrapper_main { position: relative; width: 1024px; margin: 0em auto;border-top: none; border-bottom: none;}
.wrapper_main:after { content: ""; clear: both; display: block; }

/*------------------------------ CONTENIDO ------------------------------------*/
.main_top {padding-bottom: 0.5em;}
.contenido .contenido_left { position: relative; float: left; width: 25%;}
.contenido .main { position: relative; float: left; width: 100%;}
.contenido .main.tmpl_2_cols { position: relative; float: left; width: 70%; margin-left: 5%;}
.contenido .barra_separacion {background: url(../img/general/menu_gen_bk.png) top center no-repeat; min-height: 2em;}

ul { padding-left: 1.5em;}
li > ul { padding-left: 4em;}
li > p { padding-top: 1em;}
li { padding-top: 0.5em;}

  /*MEDIUM RESOLUTION STYLES*/
@media screen and (min-width: 768px) and (max-width: 1024px) {  
    .main { width: 90%; }  
	.wrapper {  width: 100%;}
 }

/*SMALL RESOLUTION STYLES*/
@media screen and (max-width: 767px) {  
    .main { width: 90%; }  
	.wrapper {  width: 100%;}
	
}



