@charset "UTF-8";

/*****************************************************************************
*    Proyecto: MINHAPcontenido-firmar .container-box
*    Titulo: modChooseCertificateNoCerts.css
*    Desripcion: Estilos para la realizacion del modulo ChooseCertificateNoCerts.css
******************************************************************************/
/*Inicial*/

.hide {display: none !important;}
.temp-hide {display: none;}
.bold {font-weight: bold;  }
.clear {clear: both;}
.no-float {float: none !important;}

.contenido {display: block; width: 100%; margin: 0 auto; height: auto;  position: relative;z-index:9;}

.contenido .title {color: #dd5a00; text-align: center; margin: 0 auto; font-weight: bold; font-size:1.8em; padding-top:1em; padding-bottom:1em;}


.contenido-error {width: 750px;}
.contenido-error .title-error {color: #ac0306;margin: 0 auto;font-size:29px;padding-top: 1.5em;line-height: 31px;width: 750px;margin-bottom: 1em;font-weight:bold;}

.contenido-error .error-box {width: 100%;display: block; box-sizing: border-box;padding: 1em 0;text-align: center;}

.contenido-error .error-box .button_firmar {margin 0 auto;padding: 0.4em 2em;border-style: none;  border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size:19px;}
.contenido-error .error-box .button_firmar:hover {text-decoration: underline; cursor:pointer;}
.contenido-error .container-box-error-new {width: 100%; display: block;position: relative;}
.contenido-error .container-box-error-local {width: 100%; display: block;position: relative;}

.container-textbox-error{display: block;width:100%;position:relative; }

.contenido-error .text-error-box {color #707070;font-size: 17px;margin-bottom: 0.75em;text-align: center;margin-top: 1.5em;}

.container-box-title{width: 100%;margin-top: 2em;margin-bottom:2em; display: block;position: relative;}
.container_tit{ width:100%;display:block;}
.container_btn_operation {width: 100%; display: block; margin-top: 4em; margin-bottom: 2em; text-align: center;
}


.button-volver {width: 80px;padding: 0.4em 1.5em 0.4em 1.5em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size: 15px;text-align: center;box-sizing: border-box;font-weight: bold; cursor:pointer; text-decoration: none;}
.button-volver:hover {text-decoration: underline; cursor:pointer;}

.button-cancelar { width: 80px;padding: 0.4em 1.5em 0.4em 1.5em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size: 15px;text-align: center;box-sizing: border-box;font-weight: bold; cursor:pointer; text-decoration: none;}
.button-cancelar:hover {text-decoration: underline;}

.arrow-left-white {width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-right: 8px solid #ffffff;display: inline-block;position: relative;}

/*MEDIUM RESOLUTION STYLES*/
@media screen and (max-width: 864px) and (min-width: 681px){  
	.contenido-error {width: 640px;}
	.container-box-title{width: 100%;margin: 2em auto;display: block;position: relative;}
}

@media screen and (max-width: 680px)and (min-width: 576px) {  
	
	.contenido-error {width: 536px;}
	.container-box-title{width: 100%;margin: 2em auto;display: block;position: relative;}
}

@media screen and (max-width: 575px)and (min-width: 481px) {  
	
	.contenido-error {width: 441px;}
	.container-box-title{width: 100%;margin-top: 2em auto;display: block;position: relative;}
	.contenido .title {color: #dd5a00; text-align: center;margin: 0 auto; font-weight: bold; font-size:1.5em; padding-top:1em; padding-bottom:0.3em;}

}

@media screen and (max-width: 480px) {  

	.contenido-error {width: 80%;}
	.contenido .title {color: #dd5a00; text-align: center;margin: 0 auto; font-weight: bold; font-size:1.1em; padding-top:1em; padding-bottom:0.3em;}
	.container-box-title{width: 100%; display: block;position: relative;}
	.contenido-error .text-error-box {color #707070;font-size: 14px;margin-bottom: 0.75em;text-align: center;margin-top: 1em;}
	
	.contenido-error .error-box {width: 100%;display: block; box-sizing: border-box;padding: 1em 0; text-align: center;margin-bottom: 2em;}
	
	.contenido-error .error-box .button_firmar {margin: 0 auto;padding: 0.4em 1em;border-style: none;  border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size:16px;}
	.container_tit{ width:100%;display: block;}
}