@charset "UTF-8";
/*****************************************************************************
*    Proyecto: MINHAPcontenido-firmar .container-box
*    Titulo: modChooseCertificate.css
*    Desripcion: Estilos para la realizacion del ChooseCertificate
****************************************************************************/

/*Inicial*/

.hide {display: none !important;}
.temp-hide {display: none;}
.bold {font-weight: bold;  }
.clear {clear: both;}
.no-float {float: none !important;}

.contenido .title {color: #dd5a00; text-align: center; margin: 0 auto; font-weight: bold; font-size:1.8em; padding-top:1em; padding-bottom:1em;}
.button-cancelar {width: 8em;height:2.2em; padding: 0.4em 1.5em 0.4em 1.5em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size: 15px;text-align: center;box-sizing: border-box;font-weight: bold; cursor:pointer; text-decoration: none;}
.button-cancelar:hover {text-decoration: underline;}

.contenido .cert-box {border: 1px solid rgb(216, 212, 212); padding: 5px; margin-top: 5px; width: 100%; display: block; box-sizing: border-box;}

.container-box-title{width: 100%;margin-top: 2em;margin-bottom:2em; display: block;position: relative;}
.container_tit{ width:100%;display:block;}
.container_btn_operation{ width:100%; display:block; padding: 3em 0em; text-align: center;}

.arrow-left-white {width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-right: 8px solid #ffffff;display: inline-block;top: 1px;position: relative;right: 3px;}
.arrow-right {width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 8px solid #707070; display: inline-block;top: 9px;position: absolute;right: 0.5em;}

.button-volver {width: 80px;padding: 0.4em 1.5em 0.4em 1.5em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size: 15px;text-align: center;box-sizing: border-box;font-weight: bold; text-decoration: none;}
.button-volver:hover {text-decoration: underline; }

.contenido .container-box-cert {display: block; width:600px; margin-left: auto; margin-right: auto; }

.contenido.container-box-cert.cert-box {border: 1px solid rgb(216, 212, 212); padding: 5px; margin-top: 5px; width:50%; display: block; box-sizing: border-box;}
.contenido.container-box-cert.cert-box.cert-box-int {background-color: #eae8e9;width: 100%;}

.contenido.container-box-cert .cert-box.hover {border: 2px solid rgb(216, 212, 212);}
.contenido.container-box-cert .cert-box:last-child {margin-bottom: 1em;}
.contenido.container-box-cert .cert-box .cert-box-int {background-color: #eae8e9; width: 100%;}
.contenido.container-box-cert .cert-box .cert-box-left {display: inline-block;width: 18%;min-width: 70px;}
.contenido.container-box-cert .cert-box .cert-box-left a {width: 100%;display: block;min-width: 70px;}
.contenido.container-box-cert .cert-box .cert-box-left img {margin: 0 auto; display: block; margin-top:1em;width: auto;}
.contenido.container-box-cert .cert-box .cert-box-center {display: inline-block;width: 80%;}
.contenido.container-box-cert .cert-box .cert-box-right {display: inline-block; margin-bottom: 1em; width: 100%; padding-right: 1em; margin-top: 0.5em;}
.contenido.container-box-cert .cert-box .title-cert-box {font-size: 22px;font-weight: bold;}
.contenido.container-box-cert .cert-box .text-cert-box {font-size: 16px;color: #707070;line-height: 20px;}
.contenido.container-box-cert .cert-box .button {border: 1px solid #707070; padding: 0.4em 0.6em; border-radius: 2em; margin: 0.5em auto 0.5em 1.5em; display: block; position: relative; color: #707070; text-decoration: none; font-size: 13px; width: 6em;}
.contenido.container-box-cert .cert-box .button:hover {color: #606060; border: 1px solid #606060;}

.contenido .cert-box.hover {border: 2px solid rgb(216, 212, 212);}
.contenido .cert-box:last-child {margin-bottom: 1em;}
.contenido .cert-box .cert-box-int {background-color: #eae8e9;width: 100%;}
.contenido .cert-box .cert-box-left {display: inline-block;width: 18%;}
.contenido .cert-box .cert-box-left a {width: 100%;display: block;min-width: 70px;}
.contenido .cert-box .cert-box-left img {margin: 0 auto; display: block; margin-top:1em;width: auto;}
.contenido .cert-box .cert-box-center {display: inline-block;width: 80%;padding-top: 1em;}
.contenido .cert-box .cert-box-right {display: inline-block;margin-top: 0.5em;margin-bottom: 1em;width: 100%;}
.contenido .cert-box .title-cert-box {font-size: 22px;font-weight: bold;}
.contenido .cert-box .text-cert-box {font-size: 16px;color: #707070;line-height: 20px;}
.contenido .cert-box .button {border: 1px solid #707070; padding: 0.4em 0.6em; border-radius: 2em; margin: 0 1em 0 auto; display: block; position: relative; color: #707070; text-decoration: none; font-size: 13px; width: 6em;}
.contenido .cert-box .button:hover {color: #606060; border: 1px solid #606060;}

/*******************************************************************************************/
@media screen and (max-width: 880px) and (min-width: 641px){ 
	.container_tit{width:100%;display:block;}

	.contenido .container-box-cert {display: block; width:440px; margin-left: auto; margin-right: auto; }
	.contenido .cert-box .cert-box-left img {margin: 0 auto; display: block; margin-top:1em;width:50%;height: 50%;}
	.contenido .cert-box .title-cert-box {font-size: 16px;font-weight: bold;}
	.contenido .cert-box .text-cert-box {font-size: 12px;color: #707070;line-height: 14px;}
	
	}
/********************************/
@media screen and (max-width: 640px)and (min-width: 591px) {
	.container_tit{ width:100%;display:block;}
	.contenido .title {color: #dd5a00; text-align: center; margin: 0 auto; font-weight: bold; font-size:1.3em; padding-top:1em; padding-bottom:1em;}
	
	.contenido .container-box-cert {display: block; width:440px; margin-left: auto; margin-right: auto; }
	.contenido .cert-box .cert-box-left img {margin: 0 auto; display: block; margin-top:1em;width:50%;height: 50%;}
	.contenido .cert-box .title-cert-box {font-size: 16px;font-weight: bold;}
	.contenido .cert-box .text-cert-box {font-size: 12px;color: #707070;line-height: 14px;}
}
@media screen and (max-width: 590px)and (min-width: 510px) { 
	.container_tit{ width:100%;display: block;}
	.contenido .title {color: #dd5a00; text-align: center; font-weight: bold; font-size:1.3em; padding-top:1em; padding-bottom:1em;}
	
	.contenido .container-box-cert {display: block; width:440px; margin-left: auto; margin-right: auto; }
	.contenido .cert-box .cert-box-left img {margin: 0 auto; display: block; margin-top:1em;width:50%;height: 50%;}
	.contenido .cert-box .title-cert-box {font-size: 16px;font-weight: bold;}
	.contenido .cert-box .text-cert-box {font-size: 12px;color: #707070;line-height: 14px;}
}
@media screen and (max-width: 509px) and (min-width: 400px){ 
	
	.contenido .title {color: #dd5a00; text-align: center;font-weight: bold; font-size:1em; padding-top:1em; padding-bottom:1em;}
	
	.contenido .container-box-cert {display: block; width:350px; margin-left: auto; margin-right: auto; }
	.contenido .cert-box .cert-box-left img {margin: 0 auto; display: block; margin-top:1em;width:41px;height: 42px;}
	.contenido .cert-box .title-cert-box {font-size: 14px;font-weight: bold;}
	.contenido .cert-box .text-cert-box {font-size: 10px;color: #707070;line-height: 12px;}
	
	.contenido .cert-box .button {border: 1px solid #707070; padding: 0.4em 0.6em; border-radius: 2em; margin: 0 1em 0 auto; display: block; position: relative; color: #707070; text-decoration: none; font-size: 10px; width: 6em;}
	.arrow-right {width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 8px solid #707070; display: inline-block;top: 6px;position: absolute;right: 0.3em;}
	
	.button-volver {width: 70px;padding: 0.4em 1.5em 0.4em 1.5em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size: 15px;text-align: center;box-sizing: border-box;font-weight: bold; cursor:pointer; text-decoration: none;}/*margin-top: 1em;*/
	
	.container-box-title{width: 100%; display: block;position: relative;margin-top: 1.5em;margin-bottom: 1.5em;}
	.container_tit{ width:100%;display:block;}
	.container_btn_operation{ width:100%; display:block; padding: 3em 0em; }
	
}

@media screen and (max-width: 399px) { 

	.contenido .cert-box .cert-box-left {display: inline-block;width: 18%;}
	.contenido .title {color: #dd5a00; text-align: center;margin: 0 auto; font-weight: bold; font-size:1em; padding-top:1em; padding-bottom:1em;}
	.container_tit{width:100%;display:block;}
	.container-box-title{width: 100%; display: block;position: relative;margin-top: 1em;margin-bottom: 1em;}
	
	.contenido .container-box-cert {display: block; width:100%; margin-left: auto; margin-right: auto; }
	.contenido .cert-box .cert-box-left img {margin: 0 auto; display: block; margin-top:1em;width:41px;height: 42px;}
	.contenido .cert-box .title-cert-box {font-size: 14px;font-weight: bold;}
	.contenido .cert-box .text-cert-box {font-size: 10px;color: #707070;line-height: 12px;}

	.contenido .cert-box .button {border: 1px solid #707070; padding: 0.4em 0.6em; border-radius: 2em; margin: 0 1em 0 auto; display: block; position: relative; color: #707070; text-decoration: none; font-size: 10px; width: 6em;}
	.arrow-right {width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 8px solid #707070; display: inline-block;top: 6px;position: absolute;right: 0.3em;}
	
	.button-volver {width: 70px;padding: 0.4em 1.5em 0.4em 1.5em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size: 15px;text-align: center;box-sizing: border-box;font-weight: bold; cursor:pointer; text-decoration: none;}/*margin-top: 1em;*/
	
	.container_btn_operation{ width:100%;display:block; padding: 3em 0em; }
	
}