@charset "UTF-8";
/*****************************************************************************
*    Proyecto: MINHAPcontenido-firmar .container-box
*    Titulo: modMiniapplet.css
*    Desripcion: Estilos para la realizacion del modMiniapplet
****************************************************************************/

/*Inicial*/

.mod_claim_izq { width: 100%; } 
.mod_claim_izq .mod_claim_in {display: inline-block; margin-left: 3em; vertical-align: top;}
.mod_claim_in_der { margin-left: 1em; display: inline-block;width: 63%; color: #707070;margin-top: -0.65em;}

.mod_claim_text { font-family: "Helvetica Neue 35 Light", Arial, Verdana; font-size: 3.33em; color: #707070; vertical-align: bottom; font-weight: bold;}
.mod_claim_text_sec { font-family: Verdana; font-size: 1.5em; color: #707070; vertical-align: bottom; font-weight: bold;}

.mod_footer .footer_top .footer-text-big {font-size: 1em; font-weight: bold; display: inline-block; vertical-align: super;}
.mod_footer .footer_bottom {vertical-align: super; }
.mod_footer .footer_bottom .footer-text { font-size: 1em; font-weight: bold; }
.contenido {display: block; width: 100%; margin: 0 auto; height: auto;  position: relative;z-index:9;}/*width: 665px;min-height:40em;*/


.contenido .title {color: #dd5a00; text-align: left;margin: 0 auto; font-weight: bold; font-size:1.8em; padding-top:1em; padding-bottom:1em;}
.arrow-left-white {width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-right: 8px solid #ffffff;display: inline-block;top: 1px;position: relative;right:5px;}


.contenido-firmar {width: 470px;}/*position: relative;*/
.contenido-firmar-listadocs{width:90%;position: relative;top:2em;margin-left: auto;margin-right: auto;}
.contenido-firmar-listadocs.container-box { width: 100%;top:0.5em;position: relative;text-align: left;}
.contenido-firmar .container-firmar {width: 100%; display: block; box-sizing: border-box; padding: 1.7em 0; margin-bottom: 2em;text-align: center;top:1em; position: relative;}
.contenido-firmar .container-firmar .button_firmar {margin 0 auto;width: 230px;padding: 0.2em 2em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size:32px;box-sizing: border-box;font-weight: bold;}
.contenido-firmar .nota-firmar{position: relative;top: 1em;}

.cabecera-listaDocs{display: inline-block;width: 47%;padding: 0.35em;font-weight: bold;text-align: center;}
.celda-listaDocs{display: inline-block;width: 47%;padding: 0.35em;border: 1px solid #dd5a05;margin: 0.1em;vertical-align: top;}

.contenido-opciones {width: 100%; height:15%; display:block;position: relative;}
.contenido-opciones .botones {margin: 0 auto;text-align: center;position: relative;top:1em;}
.mensaje-error {color #707070;font-size: 22px;margin-bottom: 1em;text-align: center;position: relative;top:1em;}
#errorMsg{text-align: center;}



.button_firmar {text-decoration: none;}
.button_firmar:hover {text-decoration: underline; cursor:pointer;  }

.button-volver {float: right;width: 80px;padding: 0.2em 0.3em 0.3em 1.2em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size: 14px;text-align: center;box-sizing: border-box;font-weight: bold; cursor:pointer; text-decoration: none;}/*margin-top: 1em;*/
.button-volver:hover {text-decoration: underline; cursor:pointer;}

.button-cancelar {z-index:10; float: right;width: 80px;padding: 0.2em 0.3em 0.3em 0.3em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size: 14px;text-align: center;box-sizing: border-box;font-weight: bold; cursor:pointer; text-decoration: none;}/*margin-top: 1em;*/
.button-cancelar:hover {text-decoration: underline;}

.button-operacion {width: 170px;padding: 0.2em 1em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 1.2em 1em;font-size:22px;box-sizing: border-box;font-weight: bold;text-decoration: none;}
.button-operacion:hover {text-decoration: underline; cursor:pointer;}

.hide {display: none !important;}
.temp-hide {display: none;}
.bold {font-weight: bold;  }
.clear {clear: both;}
.no-float {float: none !important;}

.container-box-title{width: 100%;margin: 2em; display: block;position: relative;}
.container_tit{float: left; width:70%;display: inline-block;}
.container_btn_operation{float: right; width:20%;display: inline-block;margin-top: 1em;}


.progress-dialog{display: none;background-color: rgba(50,50,50,0.3); width: 100%; height: 100%; z-index: 9990; position: fixed; left: 0; top: 0; }
.progress-dialog-window{background-color: white; position: fixed; top: 30%; left: 35%; width: 30%; padding: 20px; border: 2px solid black; border-radius: 15px;}
.progress-dialog-text{ text-align: center; font-weight: bold; font-size: 20pt; display:block;}
.progress-dialog-img{text-align: center; display:block;}
.img-loading{width:100px;height: 100px}


/***************************************************************************/


/*MEDIUM RESOLUTION STYLES*/
@media screen and (max-width: 864px) and (min-width: 681px){  

  .contenido-error .title-error {width: 100%; margin: 0 auto;}
  .contenido-error .container-box-error  {width: 100%; padding: 10px; box-sizing: border-box;}
  .contenido-error .error-box .button_firmar {width: 100%; box-sizing: border-box;}
  .contenido .main-box-left {display:inline-block; width: 235px; height: 339px;border: 1px solid rgb(216, 212, 212); box-shadow: 0px 0px 5px rgb(216, 212, 212);margin-left: 0.5em;margin-right: 0.5em; margin-bottom:1em;margin-top: 0.7em;}
 

	.mod_claim_in_der { margin-left: 1em; display: inline-block;width: 70%; color: #707070;margin-top: -0.65em;}
	.mod_claim_text { font-family: "Helvetica Neue 35 Light",Arial, Verdana; font-size: 2.33em; color: #707070; vertical-align: bottom; font-weight: bold;}
	.mod_claim_text_sec { font-family: Verdana; font-size: 1.33em; color: #707070; vertical-align: bottom; font-weight: bold;}
	.contenido .title {color: #dd5a00; text-align: center;margin: 0 auto; font-weight: bold; font-size:1.5em; padding-top:1em; padding-bottom:0.3em;}
.container-title .title-button{display: inline-block; width:30%;position: absolute; right:1%;}

.container_btn_operation{float: right; width:20%;display: inline-block;margin-top: 1em;}	

.contenido-firmar .container-firmar {width: 100%; display: block; box-sizing: border-box; padding: 1.7em 0; margin-bottom: 3em;text-align: center;top:2em;position: relative;}
.contenido-firmar .container-firmar .button_firmar {margin 0 auto;width: 180px;padding: 0.2em 2em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size:22px;box-sizing: border-box;font-weight: bold;}
.contenido-firmar .nota-firmar{top: 1em;display: block;position: relative;}

.cabecera-listaDocs{display: inline-block;width: 40%;padding: 0.35em;font-weight: bold;text-align: center; font-size: 12px;}
.celda-listaDocs{display: inline-block;width: 40%;padding: 0.35em;border: 1px solid #dd5a05;margin: 0.1em;font-size: 12px;vertical-align: top;}
.progress-dialog-text{ text-align: center; font-weight: bold; font-size: 18pt; display:block;}

}

@media screen and (max-width: 680px)and (min-width: 576px) {  
  
  	.contenido { width: 100%; padding: 5px;  box-sizing: border-box;}


 	.contenido .main-box-left {float:none; width: 236px;  display:inline-block; margin-bottom: 1em; margin-top:1em;margin-right:0.5em; ;margin-left: 0.5em;}/*margin: 0 auto;width: 321px; */
  	.contenido .main-box-right {float:none; width: 321px; margin: 0 auto; display:block; margin-top:1em;}
	
  
  	.mod_claim_izq .mod_claim_in {display: inline-block; margin-left: 0.5em; vertical-align: top;}
	.mod_claim_in_der { margin-left: 0.5em; display: inline-block;width: 63%; color: #707070;margin-top: -0.40em;}
	.mod_claim_text { margin-left: 0.5em;  font-family: "Helvetica Neue 35 Light",Arial, Verdana; font-size: 2em; color: #707070; vertical-align: bottom; font-weight: bold;}
	.mod_claim_text_sec {margin-left: 0.5em;  font-family: Verdana; font-size: 1.3em; color: #707070; vertical-align: bottom; font-weight: bold;}
	.contenido .title {color: #dd5a00; text-align: center;margin: 0 auto; font-weight: bold; font-size:1.5em; padding-top:0.3em; padding-bottom:0.3em;}
	.container-title .title-button{display: inline-block; width:20%; top:-22%; right:2%;top:1em;}/*position: absolute;*/

.container-box-title{width:90% display: block; position: relative;}/*;margin: 2em;*/
.container_tit{float: left; width:70%;display: inline-block;}
.container_btn_operation{float: right; width:15%;display: inline-block;margin-top: -0.5em;}


.contenido-firmar {width: 470px;position: relative;}
.contenido-firmar .container-firmar {width: 90%; display: block; box-sizing: border-box; padding: 1.7em 0; margin-bottom: 2em;text-align: center;top: 1em;position: relative;}
.contenido-firmar .container-firmar .button_firmar {margin 0 auto;width: 180px;padding: 0.2em 2em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size:22px;box-sizing: border-box;font-weight: bold;}
.contenido-firmar .nota-firmar{top: 1em;display: block;position: relative;}

.cabecera-listaDocs{display: inline-block;width: 40%;padding: 0.35em;font-weight: bold;text-align: center; font-size: 12px;}
.celda-listaDocs{display: inline-block;width: 40%;padding: 0.35em;border: 1px solid #dd5a05;margin: 0.1em;font-size: 12px;vertical-align: top;}

	
.progress-dialog-text{ text-align: center; font-weight: bold; font-size: 16pt; display:block;}
/* .img-loading{width: 100px;height: 100px}	 */
}

@media screen and (max-width: 575px)and (min-width: 421px) {  

	.mod_claim_izq .mod_claim_in {display: inline-block; margin-left: 0.5em; vertical-align: top;}
	.mod_claim_in_der { margin-left: 0.5em; display: inline-block;width: 63%; color: #707070;margin-top: -0.20em;}
	.mod_claim_text { font-family: "Helvetica Neue 35 Light",Arial, Verdana; font-size: 1.5em; color: #707070; vertical-align: bottom; font-weight: bold;}
	.mod_claim_text_sec { font-family: Verdana; font-size: 1em; color: #707070; vertical-align: bottom; font-weight: bold;}
	.contenido .title {color: #dd5a00; text-align: left;margin: 0 auto; font-weight: bold; font-size:1em; padding-top:1em; padding-bottom:1em;}
		
	.contenido .title {color: #dd5a00; text-align: center;margin: 0 auto; font-weight: bold; font-size:1.2em; padding-top:1em; padding-bottom:0.3em;}
	.container-title .title-button{display: inline-block; width:30%;position: absolute; right:1%;}
		
	.container_btn_operation{float: right; width:15%;display: inline-block;margin-top: 0.1em;}
	.contenido-firmar {width: 90%; margin-left: auto;margin-right: auto;}	
	.arrow-right {width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 8px solid #707070; display: inline-block;top: 9px;position: absolute;right: 0.3em;}
	
	.cabecera-listaDocs{display: inline-block;width: 37%;padding: 0.35em;font-weight: bold;text-align: center; font-size: 12px;}
	.celda-listaDocs{display: inline-block;width: 37%;padding: 0.35em;border: 1px solid #dd5a05;margin: 0.1em;font-size: 12px;vertical-align: top;}
	
}

@media screen and (max-width: 420px) {  

	.mod_claim_izq .mod_claim_in {display: inline-block; margin-left: 0.5em; vertical-align: top;}
	.mod_claim_in_der { margin-left: 0.5em; display: inline-block;width: 63%; color: #707070;margin-top: -0.20em;}
	.mod_claim_text { font-family: "Helvetica Neue 35 Light",Arial, Verdana; font-size: 1.33em; color: #707070; vertical-align: bottom; font-weight: bold;}
	.mod_claim_text_sec { font-family: Verdana; font-size: 0.75em; color: #707070; vertical-align: bottom; font-weight: bold;}
	.contenido .title {color: #dd5a00; text-align: left;margin: 0 auto; font-weight: bold; font-size:1em; padding-top:1em; padding-bottom:1em;}
		
	.container_tit{float: left; width:70%;display: inline-block;margin-left: -3em;}
	
  	.contenido-firmar {width: 270px;position: relative;}
  	.contenido-firmar .container-firmar {width: 100%; display: block; box-sizing: border-box; padding: 1.7em 0; margin-bottom: 2em;text-align: center;position: relative;top:2em;}
	.contenido-firmar .container-firmar .button_firmar {margin 0 auto;width: 230px;padding: 0.2em 2em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size:32px;box-sizing: border-box;font-weight: bold;}
	.contenido-firmar .nota-firmar{display:block; top:1em;position: relative;}	
	
	.contenido-firmar .container-firmar .button_firmar {margin 0 auto;width: 170px;padding: 0.2em 2em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size:22px;box-sizing: border-box;font-weight: bold;}
	
	.mensaje-error {color #707070;font-size: 14px;margin-bottom: 1em;text-align: center;position: relative;top:1em;}
	.button-operacion {width: 130px;padding: 0.2em 1em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 1.2em 1em;font-size:12px;box-sizing: border-box;font-weight: bold;text-decoration: none;}
	
	#progressText{font-size: 12pt;}
	.progress-dialog-text{ text-align: center; font-weight: bold;  display:block;}
	.img-loading{width: 50px;height: 50px;}
	
	.cabecera-listaDocs{display: inline-block;width: 37%;padding: 0.35em;font-weight: bold;text-align: center; font-size: 12px;}
	.celda-listaDocs{display: inline-block;width: 37%;padding: 0.35em;border: 1px solid #dd5a05;margin: 0.1em;font-size: 12px;vertical-align: top;}
	
	
}
