@charset "UTF-8";
/*****************************************************************************
*    Proyecto: MINHAPcontenido-firmar .container-box
*    Titulo: modSignatureErrorPage.css
*    Descripcion: Estilos para la pagina de error de FIRe 
****************************************************************************/

/*Inicial*/

.contenido {display: block; width: 100%; margin: 0 auto; height: auto;  position: relative;z-index:9;text-align: center}/*width: 665px;min-height:40em;*/
.contenido .title {color: #dd5a00; text-align: center; margin-top: 1.5em; margin-bottom: 1.5em; font-weight: bold; font-size:1.5em; padding-top:0.5em; }
.contenido .subtitle {color: #707070; text-align: center;margin: 0 auto; font-weight: bold; font-size:1em;padding-top:0.5em; }

.container-box-title{width: 870px; margin: 2em; display: block; position: relative; margin-left: auto; margin-right: auto;}
.contenido-opciones {width: 70%; height:auto; display:block;position: relative;margin: auto;padding-left: 1em;padding-right: 1em;}
.contenido-opciones .botones {width:100%; position:relative; text-align: center; display:flex;flex-wrap: wrap-reverse;}
.botones .containerbutton{display: inline-block; margin: 1.5em auto 0 auto; min-width: 45%;}
.botones .separatorbutton{ display: inline-block;width: 5%;}
.mensaje-error {color #707070;font-size: 18px;margin-bottom: 1em;text-align: center;position: relative}
.arrow-left-white {width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-right: 8px solid #ffffff;display: inline-block;position: relative;}
#errorMsg{text-align: center;}

.button-volver {padding: 0.4em 1.5em 0.4em 1.5em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size: 15px;text-align: center;box-sizing: border-box;font-weight: bold;text-decoration: none;}
.button-volver:hover {text-decoration: underline;}

.button-cancelar {padding: 0.4em 1.5em 0.4em 1.5em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size: 15px;text-align: center;box-sizing: border-box;font-weight: bold; text-decoration: none;}
.button-cancelar:hover {text-decoration: underline;}

.hide {display: none !important;}
.temp-hide {display: none;}
.bold {font-weight: bold;  }
.clear {clear: both;}
.no-float {float: none !important;}


/***************************************************************************/


/*MEDIUM RESOLUTION STYLES*/
@media screen and (max-width: 864px) and (min-width: 681px){  

	.container-box-title{width: 90%;margin: 2em; display: block;position: relative; margin-left: auto;margin-right: auto;}
	.contenido-opciones {width: 90%; height:auto; display:block;position: relative;margin: auto;padding-left: 1em;padding-right: 1em;}
	.container_btn_operation{width:20%;display: inline-block;margin-top: 1em;}

	.arrow-left-white {width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-right: 8px solid #ffffff;display: inline-block;position: relative;}
	
}

@media screen and (max-width: 680px)and (min-width: 576px) {  
  
  	.contenido { width: 100%; padding: 5px;  box-sizing: border-box;}

	.container-box-title{width: 90%;margin: 2em; display: block;position: relative; margin-left: auto;margin-right: auto;}
	.contenido-opciones {width: 90%; height:auto; display:block;position: relative;margin: auto;padding-left: 1em;padding-right: 1em;}
	.container_btn_operation{width:20%;display: inline-block;margin-top: 1em;}
	
	.contenido .title {color: #dd5a00; text-align: center;margin: 0 auto; font-weight: bold; font-size:1.5em; padding-top:0.3em; padding-bottom:0.3em;}
	
	.arrow-left-white {width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-right: 8px solid #ffffff;display: inline-block;position: relative;}


}

@media screen and (max-width: 575px)and (min-width: 421px) {  
	
	.contenido .title {color: #dd5a00; text-align: center;margin: 0 auto; font-weight: bold; font-size:1.5em; padding-top:1em; padding-bottom:0.3em;}
		
	.container_btn_operation{width:15%;display: inline-block;margin-top: 0.1em;}
	
	.arrow-right {width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 8px solid #707070; display: inline-block;position: absolute;}
	
	.container-box-title{width: 90%;margin: 2em; display: block;position: relative; margin-left: auto;margin-right: auto;}
	.contenido-opciones {width: 90%; height:auto; display:block;position: relative;margin: auto;padding-left: 1em;padding-right: 1em;}
	.container_btn_operation{width:20%;display: inline-block;margin-top: 1em;}
	
	.arrow-left-white {width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-right: 8px solid #ffffff;display: inline-block;position: relative;}
}

@media screen and (max-width: 420px) {  

	.contenido .title {color: #dd5a00; text-align: center;margin: 0 auto; font-weight: bold; font-size:1.5em; padding-top:1em; padding-bottom:1em;}
		
	.container-box-title{width: 90%;margin: 2em; display: block;position: relative; margin-left: auto;margin-right: auto;}
	.contenido-opciones {width: 90%; height:auto; display:block;position: relative;margin: auto;padding-left: 1em;padding-right: 1em;}
	.container_btn_operation{width:20%;display: inline-block;margin-top: 1em;}
	
	.button-volver {padding: 0.2em 0.8em 0.2em 0.8em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size: 15px;text-align: center;box-sizing: border-box;font-weight: bold; cursor:pointer; text-decoration: none;}
	.button-cancelar {padding: 0.2em 0.8em 0.2em 0.8em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size: 15px;text-align: center;box-sizing: border-box;font-weight: bold; cursor:pointer; text-decoration: none;}
	
	.mensaje-error {color #707070;font-size: 14px;margin-bottom: 1em;text-align: center;position: relative;}
	.arrow-left-white {width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-right: 8px solid #ffffff;display: inline-block;position: relative;}
}
