@charset "UTF-8";
/*****************************************************************************
*    Proyecto: MINHAPcontenido-firmar .container-box
*    Titulo: modules.css
*    Desripcion: Estilos para la realizacion de los modulos
******************************************************************************/
/*****************************************************************************
*    Proyecto: INTRODUCIR NOMBRE DEL PROYECTO
*    Titulo: modules.scss
*    Desripcion: Configuracion de rutas y entorno para SASS, NO DEBE GENERAR
*                ESTILOS
******************************************************************************/

.contenido {display: block; width: 665px; margin: 0 auto 2em auto; height: auto; position: relative;}
.contenido .title {color: #dd5a00; text-align: center;margin: 0 auto; font-weight: bold; font-size:37px; padding-top:0.2em; padding-bottom:0.4em;}
.contenido .title-sec {color: #dd5a00; margin: 0 auto; font-size:29px; padding-top:1.5em; line-height: 31px;margin-bottom: 0.5em;}
.contenido .main-text {display: inline-block; color: #707070; margin: 0 auto; width: 100%; font-weight: normal; font-size:23px;}

.contenido .main-box-left {display:inline-block; width: 321px; height: 357px;margin: 0 auto;border: 1px solid rgb(216, 212, 212); box-shadow: 0px 0px 5px rgb(216, 212, 212);margin-top:1em;}
.contenido .main-box-right {display:inline-block; width: 321px; height: 357px; margin: 0 auto; border: 1px solid rgb(216, 212, 212);box-shadow: 0px 0px 5px rgb(216, 212, 212); margin-top:1em;}
.contenido .main-box-left.hover, .contenido .main-box-right.hover {border: 2px solid rgb(216, 212, 212)}
.contenido .main-box-right.disabled, .contenido .main-box-left.disabled {opacity: 0.6;}
.contenido .container-box {display: block; width: 665px;}
.contenido .contain-box-bottom {display: block; background-color: #eae8e9; margin:5px;height: 235px; box-sizing: border-box;}
.contenido .contain-box-bottom .title-box {padding: 1em 0px 0.2em 23px;font-weight: bold;font-size: 18px;color: #dd5a00;}
.contenido .contain-box-bottom .title-box-autofirma {color: #be081f;}
.contenido .contain-box-bottom .text-box {padding:0 23px; font-size:17px; color: #707070; margin-bottom: 2.5em}
.contenido .main-box-right .button, .contenido .main-box-left .button {border: 1px solid #707070;padding: 0.4em 1.5em; border-radius: 2em;margin: 0em auto;width: 4.5em;display: block;position: relative;color: #707070; text-decoration: none;font-size: 15px;}
.contenido .main-box-right .button, .contenido:hover .main-box-left .button:hover {border: 1px solid #606060; color: #606060; }
.contenido .main-box-right.disabled .button, .contenido .main-box-left.disabled .button {display:none;}
.contenido .button:hover { text-decoration:underline; cursor:pointer;}
.arrow-right {width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 8px solid #707070; display: inline-block;}
.arrow-left-white {width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-right: 8px solid #ffffff;display: inline-block;}

.contenido-firmar {width: 470px;}
.contenido-firmar .container-box { width: 100%; }
.contenido-firmar .container-box .lista-elem {display: block;width: 100%;list-style-type: circle;list-style-image: initial;padding: 1.5em 0 1.5em 1.5em;box-sizing: border-box;}
.contenido-firmar .container-box .lista-elem .elem {width: 100%; list-style-type: circle;list-style-image: initial;line-height: 1.4em;}
.contenido-firmar .container-box .container-firmar {width: 100%; display: block; box-sizing: border-box; padding: 1.7em 0; margin-bottom: 2em;text-align: center;}
.contenido-firmar .container-box .container-firmar .button_firmar {margin 0 auto;width: 230px;padding: 0.2em 2em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size:32px;box-sizing: border-box;font-weight: bold;}

.contenido-firmar .container-firmar {width: 100%; display: block; box-sizing: border-box; padding: 1.7em 0; margin-bottom: 2em;text-align: center;}
.contenido-firmar .container-firmar .button_firmar {margin 0 auto;width: 230px;padding: 0.2em 2em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size:32px;box-sizing: border-box;font-weight: bold;}

.contenido-principal { font-size: 1.2em; }

.contenido-error {width: 750px;}
.contenido-error .title-error {color: #ac0306;margin: 0 auto;font-size:29px;padding-top: 1.5em;line-height: 31px;width: 750px;margin-bottom: 2em;font-weight:bold;}
.contenido-error .error-box {width: 100%;display: block; box-sizing: border-box;padding: 1em 0;margin-bottom: 2em; text-align: center;}
.contenido-error .error-box .button_firmar {margin 0 auto;padding: 0.4em 2em;border-style: none;  border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 auto;font-size:19px;}
.contenido-error .container-box-error {width: 563px; margin:0 auto; margin-bottom: 1.5em; }
.contenido-error .container-box-error .error-box { margin-bottom: 3em;}
.contenido-error .text-error-box {color #707070;font-size: 17px;margin-bottom: 0.75em;text-align: center;}

.contenido-opciones {width: 100%;}
.contenido-opciones .botones {margin: 0 auto;text-align: center;}
.mensaje-error {color #707070;font-size: 22px;margin-bottom: 0.75em;text-align: center;}

.paragraph { padding-top: 2em;}

.button-volver {display:block;width: 80px;padding: 0.2em 0.6em 0.3em 0.6em;border-radius: 2em;background-color: #dd5a00;color: white;margin: 0 2em 0 auto;font-size: 14px;text-align: center;box-sizing: border-box;margin-top: 1em;font-weight: bold; text-decoration: none;}
.button-volver:hover {text-decoration: underline;}

.container_btn_operation{ width:100%; display:block; margin-top: 1em; }

.hide {display: none !important;}
.temp-hide {display: none;}
.bold {font-weight: bold;  }
.clear {clear: both;}
.no-float {float: none !important;}





