<div class="container-fluid">
	<h4 class="c-grey-900 mT-10 mB-30"
		th:text="#{valid.service.admin.title}"></h4>
	<div class="row">
		<div class="col-md-12">
			<div class="bgc-white bd bdrs-3 p-20 mB-20">
				<h4 class="c-grey-900 mB-20" th:text="#{table.valid.service.title}"></h4>
				<table id="certServiceTable"
					class="table table-striped table-bordered" cellspacing="0"
					width="100%">
					<thead>
						<tr>
							<!-- Columna oculta para el identificador de usuario -->
							<th></th>
							<th th:text="#{table.valid.service.alias}"></th>
							<th th:text="#{table.valid.service.issuer}"></th>
							<th th:text="#{table.valid.service.subject}"></th>
							<th th:text="#{table.valid.service.fecha_alta}"></th>
							</tr>
							</thead>
							<body>
							<tr th:each="certificado : ${listaCertificados}">
								<td th:text="${certificado.idCertificate}"></td>
								<td th:text="${certificado.alias}"></td>
								<td th:text="${certificado.certPrincipal}"></td>
								<td th:text="${certificado.certBackup}"></td>
								<td th:text="${certificado.fechaAlta}"></td>
							</body>
						</tr>
					
				</table>
			</div>
		</div>
	</div>
</div>
<div id="modalEditUser"></div>

<script th:inline="javascript">

var tableVipInterval = $('#certServiceTable').DataTable({
	"autoWidth" : false,
	"pagingType" : "full_numbers",
	"initComplete" : function(settings, json) {
		//eliminamos el scroll inferior
		$('#certServiceTable_wrapper .dataTables_scrollBody').css("overflow-x", "hidden");
		
	},

	"language": {
        "url": "js/datatables/i18n/spanish.json",
        select: {
            rows: {
                _: "%d filas seleccionadas",
                1: "1 fila seleccionada"
            }
          }
        },        
	"columnDefs" : [ 
		{
			"targets" : [ 0 ],
			"visible" : false,
			"searchable" : false,
			"width": "0%"
		},
		{
			"targets" : [ 1 ],
			"visible" : true,
			"searchable" : false,
			"width": "15%"
		},
		{
			"targets" : [ 2 ],
			"visible" : true,
			"searchable" : false,
			"width": "30%"
		},
		{
			"targets" : [ 3 ],
			"visible" : true,
			"searchable" : false,
			"width": "30%"
		},
		{
			"targets" : [ 4 ],
			"visible" : true,
			"searchable" : false,
			"width": "15%"
		}
		
	],
	"order" : [ 1, 'desc' ],
	responsive :  true/* {
		 details : {
			type : 'column',
			target : -1
		} 
	}  */

}); 


</script>