	<script type="text/javascript" th:src="@{js/jquery/jquery-3.2.1.js}"></script>
	<script type="text/javascript" th:src="@{js/jquery/jquery-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{js/jquery/jquery.spring-friendly.min.js}"></script>
	<script type="text/javascript" th:src="@{js/jquery/jquery.serializejson.js}"></script>
	<script type="text/javascript" th:src="@{js/main.js}"></script>
	<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{js/masonry/masonry.js}"></script>
	<script type="text/javascript" th:src="@{js/masonry/masonry.pkgd.min.js}"></script>
	<script type="text/javascript" th:src="@{js/sidebar/sidebar.js}"></script>
	<script type="text/javascript" th:src="@{js/utils/utils.js}"></script>
	<script type="text/javascript" th:src="@{js/picklist/picklist.js}"></script>
	<script type="text/javascript" th:src="@{js/datatables/datatables.min.js}"></script>
	<script type="text/javascript" th:src="@{js/datatables/dataTables.responsive.min.js}"></script>
	<script type="text/javascript" th:src="@{js/datatables/dataTables.select.min.js}"></script>
	<script type="text/javascript" th:src="@{js/datatables/buttons.html5.min.js}"></script>
	<script type="text/javascript" th:src="@{js/datatables/jszip.min.js}"></script>
	<script type="text/javascript" th:src="@{js/datatables/pdfmake.min.js}"></script>
	<script type="text/javascript" th:src="@{js/datatables/vfs_fonts.js}"></script>
	<!-- <script type="text/javascript" th:src="@{js/charts/Chart.bundle.min.js}"></script> -->
	<script type="text/javascript" th:src="@{js/statistics/Chart.min.js}"></script>		
	<script type="text/javascript" th:src="@{js/datatables/moment.min.js}"></script>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
	<script type="text/javascript" th:inline="javascript" th:src="@{js/datatables/dataTables.altEditor.free.js}"></script>
	
