<div class="container-fluid">
	<h4 class="c-grey-900 mT-10 mB-30" th:text="#{ssl.admin.title}"></h4>
	<div class="row">
		<div class="col-md-12">
			<div class="bgc-white bd bdrs-3 p-20 mB-20">
				<h4 class="c-grey-900 mB-20" th:text="#{table.ssl.title}"></h4>
				<table id="sslTable" class="table table-striped table-bordered" 
					cellspacing="0" width="100%">
					<thead>
						<tr>
							<!-- Columna oculta para el identificador de usuario -->
							<th></th>
							<th th:text="#{table.ssl.alias}"></th>
							<th th:text="#{table.ssl.issuer}"></th>
							<th th:text="#{table.ssl.subject}"></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="modalEditUser"></div>

<script th:inline="javascript">
$(document).ready(function() {
	var actionSave = /*[[@{/savessl}]]*/;
	var actionUpdate = /*[[@{/updatessl}]]*/;
	var actionDownload = /*[[@{/downloadCertificate}]]*/;
	var actionDelete = /*[[@{/deletessl}]]*/;
	var getssls = /*[[@{/ssldatatable}]]*/;
	var editTemplate = /*[[@{/editcert}]]*/;
	var addTemplate = /*[[@{/addssl}]]*/;
	
	var tbl = $('#sslTable').DataTable({
		dom: 'Bfrtip',
	    select: 'single',
	    responsive: true,
	    
	    altEditor: true,
	    buttons: [{text: 'Agregar', name: 'add'}, {extend: 'selected',text: 'Editar',name: 'edit'}, {extend: 'selected',text: 'Eliminar',name: 'delete'}, 
	    	{extend: 'selected',text: 'Descargar certificado',name: 'downloadCertificate',
			  action: function ( e, dt, node, config ) {
				  
				  for (var o = dt, a = [], e = 0; e < o.context[0].aoColumns.length; e++) a.push({
					id: o.context[0].aoColumns[e].mData              
				  });
				  
				  var d = dt.rows({
                  selected: !0
				  });
				
				  var idSystemCertificate = d.data()[0][a[0].id];
				  
				  window.location.href = actionDownload + "/" + idSystemCertificate;
				}
			}],
	
	    "iTotalRecords": "totalElements",
        "iTotalDisplayRecords": "numberOfElements",
	    
		"processing": true,
	    "serverSide": true,
		"ajax": {
	        "url": getssls,
	        "dataSrc" : "data",
	        "data": function (data) {
	        	// Datos a pasar al modal
	            data.formId = "certForm";
	            data.editTemplate = editTemplate;
	            data.addTemplate = addTemplate;
	        	}
	        },
	    "language": {
	        "url": "js/datatables/i18n/spanish.json",
	        select: {
	            rows: {
	                _: "%d filas seleccionadas",
	                1: "1 fila seleccionada"
	            }
	          }
	        },
		"columns": [
	        { "data": "idSystemCertificate",
	          "visible": false},
	        { "data": "alias" },
	        { "data": "issuer" },
	        { "data": "subject" }
	        ]
		}).on('crudaction', function(e, accion, idSystemCertificate, data, rowindex){
		    // e          Evento Jquery
		    // accion     [add|edit|delete]
		    // pkid       Primer campo en la data [id]                ... en add,    retorna null
		    // data       Los campos adicionales  [campo_1, campo_n]  ... en delete, retorna null
		    // rowindex   El index de la fila para el dataTable       ... en add,    retorna null
		    
		    $('#altEditor-modal .modal-body .alert').remove();
		    // Se muestra la capa 'cargando...'
		    loading();
		    
		    switch(accion){
		        case 'add':
		        	if ($('#sslForm')[0].checkValidity() === false) {
		        		// Se oculta la capa 'cargando...'
		        		hide();
		                event.stopPropagation();
		                
		                $('#sslForm *').filter(':input').each(function(){
		            	    		            	    
		            	    if(!$('#sslForm')[0].checkValidity())
		            	    {
		            	  	 $("#invalid-" + $(this).attr('id')).html();
		            	  	 $("#" + $(this).attr('id')).addClass("is-invalid");
		            	    } else {
		            	  	 $("#" + $(this).attr('id')).removeClass("is-invalid");
		            	    }
		            	    
		            	});
		                
		                // Esto es necesario para forzar que se muestren mensajes de validación de cliente
		                $('<input type="submit">').hide().appendTo($('#sslForm')).click().remove();
		            } else {
		            	var formData = new FormData(document.forms["sslForm"]);
		            	$.ajax(actionSave, {
		            		data : formData,
			            	contentType: false,
			                processData : false,
			                type:'POST',
			                success: function(data){
			                  
			            		// Se oculta la capa 'cargando...'
			            		hide();
			                    tbl.row.add($(data.data)).draw(false);
			                    		                    
			                    $('#altEditor-modal .modal-body .alert').remove();
			                    $('#altEditor-modal').modal('hide');
			                    		                    
			                },
			                error:function(xhr,status,error) {
			                	hide();
			                	var responseText = jQuery.parseJSON(xhr.responseText);
			                	var messageException = responseText.message;
			                	var messageError = "";
			                	
			                	if (messageException.includes("CertificateStored")) {
			                		messageError = messageError = [[#{auth.admin.error.certUnique}]];
			                	} else if (messageException.includes("CertificateNotValid")) {
			                		messageError = [[#{auth.admin.error.notValid}]];
			                	} else if (messageException.includes("ValidServiceNotConfigured")) {
			                		messageError = [[#{auth.admin.error.notConfigServiceVal}]];
			                	} else {
			                		messageError = [[#{auth.admin.error.globalError}]];
			                	}
			                	
			                	$('#altEditor-modal .modal-body .alert').remove();
					            $('#altEditor-modal .modal-body').append('<div class="alert alert-danger" role="alert"><strong>' + messageError + '</strong></div>');
			                }
			            });
		            }
		        	$('#certForm').addClass('was-validated');
		            break;
		        case 'edit':
		        	if ($('#certForm')[0].checkValidity() === false) {
		        		// Se oculta la capa 'cargando...'
		        		hide();
		                event.stopPropagation();
		                
		                $('#certForm *').filter(':input').each(function(){
		            	    		            	    
		            	    if(!$(this).checkValidity())
		            	    {
		            	  	 $("#invalid-" + $(this).attr('id')).html();
		            	  	 $("#" + $(this).attr('id')).addClass("is-invalid");
		            	    } else {
		            	  	 $("#" + $(this).attr('id')).removeClass("is-invalid");
		            	    }
		            	    
		            	});
		                
		                // Esto es necesario para forzar que se muestren mensajes de validación de cliente
		                $('<input type="submit">').hide().appendTo($('#certForm')).click().remove();
		            } else {
		            	$.ajax(actionUpdate, {
			            	dataType : 'json',
			            	contentType:'application/json',
			                data : JSON.stringify(data),
			                type:'POST',
			                success: function(data){
			                  
			            		// Se oculta la capa 'cargando...'
			            		hide();
			                    tbl.row.add($(data.data)).draw(false);
			                    		                    
			                    $('#altEditor-modal .modal-body .alert').remove();
			                    $('#altEditor-modal').modal('hide');
			                    		                    
			                },
			                error:function(data){
			                	
			                	// Se oculta la capa 'cargando...'
			                	hide();
			                	// Se eliminan los posibles errores anteriores...
			                	clearValidationResult('certForm');
			                	// Se obtiene el JSON de los campos con errores de validación
			                	// y se modifican los estilos/añaden mensajes
			                	var validation = $(data)["0"].responseJSON;
			                	drawValidationResult(validation.fieldErrors);
			              
			                }
			            });
		            }
		        	$('#certForm').addClass('was-validated');
	            	break;
		        case 'delete':
		            $.ajax(actionDelete,{
		            	data:$.param({'id':idSystemCertificate, 'index':rowindex}),
		                type:'POST',
		                success: function(data){
		                    
		                	// Se oculta la capa 'cargando...'
		                	hide();
		                    tbl.row(data.index).remove().draw();
		                    
		                    $('#altEditor-modal .modal-body .alert').remove();
		                    $('#altEditor-modal').modal('hide');
		                },
		                error:function(data){
		                	// Se oculta la capa 'cargando...'
		                	hide();
		                	$('#altEditor-modal .modal-body .alert').remove();
		                	$('#altEditor-modal #deleteRowBtn').remove();
				            $('#altEditor-modal .modal-body').append('<div class="alert alert-danger" role="alert"><strong>' + data.responseJSON.message + '</strong></div>');
		                }
		            });
		            break;
		        default:
		            $('#altEditor-modal .modal-body .alert').remove();
		            $('#altEditor-modal .modal-body').append('<div class="alert alert-danger" role="alert"><strong>' + [[#{alarm.admin.error.NotAuthorized}]] + '</strong></div>');
		            break;
		    }
		});
});	

</script>