<div class="container-fluid">
	<h4 class="c-grey-900 mT-10 mB-30" th:text="#{user.admin.title}"></h4>
	<div class="row">
		<div class="col-md-12">
			<div class="bgc-white bd bdrs-3 p-20 mB-20">
				<h4 class="c-grey-900 mB-20" th:text="#{table.user.title}"></h4>
				<table id="userTable" class="table table-striped table-bordered"
					cellspacing="0" width="100%">
					<thead>
						<tr>
							<!-- Columna oculta para el identificador de usuario -->
							<th></th>
							<th th:text="#{table.user.login}"></th>
							<th th:text="#{table.user.name}"></th>
							<th th:text="#{table.user.surnames}"></th>
							<th th:text="#{table.user.rol}"></th>
							<th th:text="#{table.user.dni}"></th>
							<th th:text="#{table.user.password}"></th>
							<th th:text="#{table.user.email}"></th>
							<th th:text="#{table.user.telf}"></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript">
$(document).ready(function() {
	
	var actionSave = /*[[@{/saveuser}]]*/;
	var actionDelete = /*[[@{/menuDeleteUser}]]*/;
	var getusers = /*[[@{/usersdatatable}]]*/;
	var editTemplate = /*[[@{/edituser}]]*/;
	var addTemplate = /*[[@{/adduser}]]*/;
	var tbl = $('#userTable').DataTable({
		dom: 'Bfrtip',
	    select: 'single',
	    responsive: true,
	    altEditor: true,
	    buttons: [{text: 'Agregar',name: 'addd',
		           action: function ( e, dt, node, config ) {	    				  
					  for (var o = dt, a = [], e = 0; e < o.context[0].aoColumns.length; e++) a.push({
						id: o.context[0].aoColumns[e].mData,
						title: o.context[0].aoColumns[e].sTitle                
					  });
					  
					  var d = dt.rows({
	                   selected: !0
					  });
					   var menuAdd = /*[[@{/adduser}]]*/;
					  $.ajax({
	 						url : menuAdd,
	 						type : 'GET',
	 						cache : false,
	 						success : function(data) {
	 							hide();
	 							$('#modal').html(data);
	 							$('#modalUserAdd').modal('show');																
	 						},
	 						error : function() {}
	 					});
				  } // fin action
	    
	    		}, // fin add
	       		  {extend: 'selected',text: 'Editar',name: 'editt',
			       action: function ( e, dt, node, config ) {	    				  
						  for (var o = dt, a = [], e = 0; e < o.context[0].aoColumns.length; e++) a.push({
							id: o.context[0].aoColumns[e].mData,
							title: o.context[0].aoColumns[e].sTitle                
						  });
						  
						  var d = dt.rows({
		                   selected: !0
						  });
						  var name = d.data()[0][a[1].id];
						  var menuEdit = /*[[@{/menuedit}]]*/;
						  $.ajax({
		 						url : menuEdit,
		 						type : 'GET',
		 						data : $.param({'username':name}),
		 						cache : false,
		 						success : function(data) {
		 							hide();
		 							$('#modal').html(data);
		 							$('#modalUserEdit').modal('show');																
		 						},
		 						error : function() {}
		 					});
					  } // fin action
				  }, // fin edit

	    		  {extend: 'selected',text: 'Eliminar',name: 'delete',
          			action: function ( e, dt, node, config ) {
      			  
      				  	for (var o = dt, a = [], e = 0; e < o.context[0].aoColumns.length; e++) a.push({
      						id: o.context[0].aoColumns[e].mData,
      						title: o.context[0].aoColumns[e].sTitle                
      					  });
      				  	
      				  	 var d = dt.rows({
      		                selected: !0
      					 });
      				  	 
      				  	 var index = dt.row({
      		                selected: !0
      		             }).index();
      				  	 
      				  	  hide();
      				  	 
      					  var idUser = d.data()[0][a[1].id];
      					  var index = dt.row({selected: !0}).index();
      					  var indexRow = index-1;
      					  $.ajax(actionDelete,{
      									data:$.param({'username':idUser, 'index':indexRow}),
      							        type:'POST',
   						                success: function(data){
   						                	
   						                	// Se oculta la capa 'cargando...'
   						                	hide();
				 							$('#modal').html(data);
				 							$('#modalDeleteUser').modal('show');		
   						                	
   						                	/*
   						                	if (data.indexOf("error") != -1) {
   						                		
   						                		var msgError = data.replace('error.','');
   						                		$('#altEditor-modal .modal-body .alert').remove();
   						    		            $('#altEditor-modal .modal-body').append('<div class="alert alert-danger" role="alert"><strong>' + msgError + '</strong></div>');
   						                	} else {                    
   						                	
   							                    tbl.row(data.index).remove().draw();
   							                    
   							                    $('#altEditor-modal .modal-body .alert').remove();
   							                    $('#altEditor-modal').modal('hide');
   						                	}
   						                	*/
   						                },
   						                error:function(){}
      					});
      		 	 	}
                	},
	    		  
					
						],
						
	    "iTotalRecords": "totalElements",
        "iTotalDisplayRecords": "numberOfElements",
	    
		"processing": true,
	    "serverSide": true,
		"ajax": {
	        "url": getusers,
	        "dataSrc" : "data",
	        "data": function (data) {
	        	// Datos a pasar al modal
	            data.formId = "userForm";
	            data.addTemplate = addTemplate;
	        }
	    },
	    "language": {
	        "url": "js/datatables/i18n/spanish.json",
	        select: {
	            rows: {
	                _: "%d filas seleccionadas",
	                1: "1 fila seleccionada"
	            }
	          }
	        },
	       
		"columns": [
	        { "data": "userId",
	          "visible": false},
	          { "data": "userName" },
	        { "data": "name" },
	        { "data": "surnames" },
	        { "data": "rolName" },
	        { "data": "dni" },
	        { "data": "password",
	          "visible": false},
	        { "data": "email" },
	        { "data": "phone" }
	        ]
		}).on('crudaction', function(e, accion, idUserFire, data, rowindex){
		    // e          Evento Jquery
		    // accion     [add|edit|delete]
		    // pkid       Primer campo en la data [id]                ... en add,    retorna null
		    // data       Los campos adicionales  [campo_1, campo_n]  ... en delete, retorna null
		    // rowindex   El index de la fila para el dataTable       ... en add,    retorna null
		    
		    $('#altEditor-modal .modal-body .alert').remove();
		    // Se muestra la capa 'cargando...'
		    loading();
		    
		    switch(accion){
		       // Eliminado case add
		        case 'delete':
		            $.ajax(actionDelete,{
		            	data:$.param({'id':data.userId, 'index':rowindex}),
		                type:'POST',
		                success: function(data){
		                	
		                	// Se oculta la capa 'cargando...'
		                	hide();
		                	
		                	if (data.indexOf("error") != -1) {
		                		
		                		var msgError = data.replace('error.','');
		                		$('#altEditor-modal .modal-body .alert').remove();
		    		            $('#altEditor-modal .modal-body').append('<div class="alert alert-danger" role="alert"><strong>' + msgError + '</strong></div>');
		                	} else {                    
		                	
			                    tbl.row(data.index).remove().draw();
			                    
			                    $('#altEditor-modal .modal-body .alert').remove();
			                    $('#altEditor-modal').modal('hide');
		                	}
		                },
		                error:function(){}
		            });
		            break;
		        default:
		            $('#altEditor-modal .modal-body .alert').remove();
		            $('#altEditor-modal .modal-body').append('<div class="alert alert-danger" role="alert"><strong>' + [[#{alarm.admin.error.NotAuthorized}]] + '</strong></div>');
		            break;
		    }
		});
		
	$( "#passwordBtn" ).click(function( event ) {
	  event.preventDefault();
		
	  var formData = JSON.stringify($("#userFormPassword").serializeJSON());
	  var url = /*[[@{/saveuserpassword}]]*/;
	  
	  loading();
	  
	  $.ajax({
		  type: "POST",
		  url: url,
		  data: formData,
		  success: function(data){
			hide();
			
			switch(data){
			case 0:
				$('#errorModalUser').remove();
				$('#modalPassword').modal('hide');
				break;
			case -1:
				$('#errorModalUser').remove();
				$('#userFormPassword').append('<div id="errorModalUser" class="alert alert-danger" role="alert"><strong>' + [[#{user.admin.error.oldPassword}]] + '</strong></div>');
				break;
			case -2:
				$('#errorModalUser').remove();
				$('#userFormPassword').append('<div id="errorModalUser" class="alert alert-danger" role="alert"><strong>' + [[#{message.error}]] + '</strong></div>');
				break;
			default:
				if (data != null){
					jQuery.each(data, function(i, val) {
						$('#userFormPassword *').filter('span').each(function(){
							if (i == $(this).attr('id')){
								$("#" + i).text(val);
							}
						});
					});
				}
			}
		  },
		  error:function(){
			  hide();
			  $('#errorModalUser').remove();
			  $('#userFormPassword').append('<div id="errorModalUser" class="alert alert-danger" role="alert"><strong>' + [[#{message.error}]] + '</strong></div>');
		  },
		  dataType: "json",
		  contentType : "application/json"
		});
	});
	
	
});	

</script>