<head>
	<link type="image/png" rel="icon" th:href="@{images/Logo_FIRe_03.jpg}">
</head>
<div class="container-fluid">
	<div class="row">
	    <div class="col-12">
	    	<div style="text-align: center;">
		
		      	<div class='d-f jc-c fxd-c'>
		        	<h2 class='mB-30 fw-900 lh-1 c-red-500' style="font-size: 60px;" th:text="#{fire-admin-web.general.expired}"></h2>
		        	<div>
		        		<a href="inicio" type='primary' class='btn btn-primary' th:href="@{/}" th:text="#{fire-admin-web.general.expired.volver}"></a>
		        	</div>
		    	</div>
	    	</div>
		</div>
	</div>
</div>