<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

<link type="text/css" rel="stylesheet"
	th:href="@{css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" th:href="@{css/main.css}" />
<link type="text/css" rel="stylesheet" th:href="@{css/util.css}" />
<link type="text/css" rel="stylesheet"
	th:href="@{css/material-design-iconic-font.min.css}" />
<link type="text/css" rel="stylesheet"
	th:href="@{css/font-awesome.min.css}" />

<!--[if IE]><link rel="shortcut icon" th:src="@{images/chart_ico.png}"><![endif]-->
<link type="image/png" rel="icon" th:href="@{images/Logo_FIRe_03.jpg}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title th:text="#{fire-admin-web.title}"></title>
</head>
<body>



	<!-- Contenido -->

	<div class="container-login">
		<div class="wrap-login">
			<form id="formMailRestorePassword" class="login-form validate-form" th:action="@{/mailpasswordrestoration}" method="post">

				<span class="login-form-title p-b-48"> <img
					class="fire-admin-front-img" th:src="@{images/Logo_FIRe_02.jpg}"
					alt="FIRe" />
				</span>

				<div class="alert alert-info" th:text="#{fire-admin-web.restore.password}"></div>
				
				<div class="wrap-input validate-input">
					<input id="userNameOrEmail" class="input100" type="text" th:name="userNameOrEmail">
				</div>
				<div class="container-login-form-btn">
					<div class="wrap-login-form-btn">
						<div class="login-form-bgbtn"></div>
						<button type="submit" class="login-form-btn"
							th:text="Restaurar"></button>
					</div>
				</div>
				
				<br></br>
				
				<div id="PasswordButton" >
					<p style="color: #808080; left:inherit;"></p>
					<a align="center" href="inicio" type='link' class='btn btn-link' style='text-align:center' th:href="@{/}" th:text="#{fire-admin-web.general.expired.volver}"></a>
				</div>
			</form>
		</div>

	</div>
	
	<script th:src="@{js/jquery/jquery-3.2.1.min.js}"></script>
	<script th:src="@{js/jquery/jquery.serializejson.js}"></script>
	<script th:src="@{js/main.js}"></script>
	<script th:src="@{js/miniapplet/functions.js}"></script>
	<script th:src="@{js/miniapplet/miniapplet.js}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


</body>
</html>
