<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

<link type="text/css" rel="stylesheet"
	th:href="@{css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" th:href="@{css/main.css}" />
<link type="text/css" rel="stylesheet" th:href="@{css/util.css}" />
<link type="text/css" rel="stylesheet"
	th:href="@{css/material-design-iconic-font.min.css}" />
<link type="text/css" rel="stylesheet"
	th:href="@{css/font-awesome.min.css}" />

<!--[if IE]><link rel="shortcut icon" th:src="@{images/chart_ico.png}"><![endif]-->
<link type="image/png" rel="icon" th:href="@{images/Logo_FIRe_03.jpg}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title th:text="#{fire-admin-web.title}"></title>
</head>
<body>



	<!-- Contenido -->

	<div class="container-login">
		<div class="wrap-login" style="width: 900px">
			<form id="formRestorePassword" th:object="${formRestorePassword}"
				class="login-form validate-form" th:action="@{/restorepassword}"
				method="post">

				<span class="login-form-title p-b-48"> <img
					class="fire-admin-front-img" th:src="@{images/Logo_FIRe_02.jpg}"
					alt="FIRe" />
				</span>

				<div id="fieldsRestorePassword">

					<div class="wrap-input validate-input">
						<input style="width: 100%; text-align: center;" type="text" id="textRestorePassword" name="textRestorePassword" value="Introduzca el nombre de usuario o correo electrónico para restaurar la contraseña." />
						<input id="email" class="input100" type="email" name="email">
					</div>
					<div class="container-login-form-btn">
						<div class="wrap-login-form-btn">
							<div class="login-form-bgbtn"></div>
							<button onclick="restorePassword(this);" class="login-form-btn"
								th:text="Restaurar"></button>
						</div>
					</div>
					<div class="container-login-form-btn">
						<div class="wrap-login-form-btn">
							<div class="login-form-bgbtn"></div>
							<button onclick="@{/}" class="login-form-btn"
								th:text="Volver"></button>
						</div>
					</div>
					<br> </br>
				</div>
		</div>
		</form>

	</div>
	</div>
	</div>
	<script th:src="@{js/jquery/jquery-3.2.1.min.js}"></script>
	<script th:src="@{js/jquery/jquery.serializejson.js}"></script>
	<script th:src="@{js/main.js}"></script>
	<script th:src="@{js/miniapplet/functions.js}"></script>
	<script th:src="@{js/miniapplet/miniapplet.js}"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script th:inline="javascript">
	
	
	function restorePassword(form) {
		submit(form);
	}
	
</script>


</body>
</html>
